{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/confirmation_popup.css' %}">

<form id="confirmationForm" action="" method="POST">
    {% csrf_token %}
    <h1 id="prompt"></h1>
    <button class="action-button" id="confirmButton" onclick="confirmationPopup.submitForm()"></button>
    <button class="action-button" id="dismissButton" type="button" onclick="confirmationPopup.dismiss()"></button>
</form>

<script src="{% static 'scripts/confirmation_popup.js' %}"></script>
