<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/core.css' %}">

<div class="top-nav">
    <div class="left">
        <a href="{% url 'home' %}">Pages</a>
    </div>
    <div class="center">
        {% if request.user.creatoruser %}
            <a href="{% url 'builder' %}">Create</a>
        {% else %}
            <a href="{% url 'creator_upgrade' %}">Create</a>
        {% endif %}
        <a href="{% url 'home' %}">Pricing</a>
    </div>
    <div class="right">
        {% if request.user.is_anonymous %}
            <a href="{% url 'login' %}">Login</a>
        {% else %}
            <a href="{% url 'profile' %}">
                <img src="{% static 'images/profile.png' %}" alt="profile">
            </a>
        {% endif %}
    </div>
</div>
