<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/core.css' %}">

<div class="top-nav">
    <div class="left">
        <a href="{% url 'home' %}">P</a>
    </div>
    <div class="center">
        <a href="{% url 'create' %}">Create</a>
        <a href="{% url 'create' %}">Pricing</a>
    </div>
    <div class="right">
        {% if request.user.is_anonymous %}
            <a href="{% url 'login' %}">Login</a>
        {% else %}
            <a href="{% url 'profile' %}">
                {% if request.user.creatoruser %}
                    <img src="{% static 'images/earth.png' %}" alt="profile">
                {% else %}
                    <img src="{% static 'images/cliff.png' %}" alt="profile">
                {% endif %}
            </a>
        {% endif %}
    </div>
</div>
