.banner {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 13px 0 13px 0;
    color: rgb(255, 255, 255);
    background-color: rgb(240, 240, 240);
    background-color: rgb(20, 77, 64);
}

.banner .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.banner .info .img-container {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: white;
}

.banner .info .img-container img {
    width: 40px;
}

.banner .info .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.banner .info .details h1 {
    margin: 0;
    text-align: center;
    font-size: 35px;
    font-weight: normal;
}

.banner .info .details h2 {
    align-self: flex-end;
    margin: 5px 5px 0 0;
    text-align: right;
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
}

.banner .info .details a {
    margin-left: 2px;
    color: rgb(255, 255, 255);
}

.banner .actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.banner .actions button {
    margin: 0 5px;
    padding: 7px 20px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}

.banner-condensed {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 13px 0;
    color: rgb(255, 255, 255);
    background-color: rgb(240, 240, 240);
    background-color: rgb(20, 77, 64);
}

.banner-condensed .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 5px 0;
}

.banner-condensed .info .img-container {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
}

.banner-condensed .info .img-container img {
    height: 60%;
}

.banner-condensed .info .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.banner-condensed .info .details h1 {
    margin: 0;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
}

.banner-condensed .info .details h2 {
    align-self: flex-end;
    margin: 3px 0 0 0;
    text-align: right;
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
}

.banner-condensed .actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.banner-condensed .actions button {
    margin: 0 5px;
    padding: 7px 20px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}

.mini-banner {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    color: rgb(255, 255, 255);
    background-color: rgb(240, 240, 240);
    background-color: rgb(20, 77, 64);
}

.mini-banner a {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.mini-banner .actions {
    display: flex;
    align-self: flex-end;
    margin: 10px 0 5px 0;
}

.mini-banner .actions button {
    margin: 0 10px;
    padding: 6px 20px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}

@media only screen and (min-width: 580px) {
    .banner {
        flex-direction: row;
    }

    .banner .info {
        flex-direction: row;
    }

    .banner .info .img-container {
        margin: 0 0 0 20px;
    }

    .banner .info .details {
        margin: 0 0 0 20px;
        align-items: flex-start;
    }

    .banner .info .details h1 {
        font-size: 40px;
    }

    .banner .info .details h2 {
        margin-left: 2px;
    }

    .banner .actions {
        width: unset;
        position: absolute;
        right: 0;
        margin: 0;
        align-self: flex-end;
    }

    .banner .actions button {
        margin: 0 10px;
    }

    .banner-condensed .actions button {
        margin: 0 10px;
    }

    .mini-banner {
        flex-direction: row;
        justify-content: space-between;
    }

    .mini-banner a {
        margin: 0 0 0 10px;
    }

    .mini-banner .actions {
        margin: 0;
    }
}
