body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto;
    color: rgb(30, 30, 30);
    overflow: hidden;
}

.top-nav {
    width: 100vw;
    height: 60px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-nav .left {
    position: absolute;
    left: 1vmax;
}

.top-nav .left a {
    font-size: 25px;
    font-weight: bold;
    color: rgb(30, 30, 30);
    text-decoration: none;
}

.top-nav .center a {
    margin: 0 3vw 0 3vw;
    font-size: 25px;
    color: rgb(30, 30, 30);
    text-decoration: none;
}

.top-nav .right {
    position: absolute;
    right: 1vmax;
}

.top-nav .right a {
    font-size: 25px;
    font-weight: bold;
    color: rgb(30, 30, 30);
    text-decoration: none;
}

.top-nav .right a img {
    height: 30px;
}

.content {
    position: relative;
    width: 100vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

#hidden {
    display: none;
}

@media only screen and (min-width: 580px) {
    .top-nav .left {
        display: block;
    }
}
