html {
    color: rgb(30, 30, 30);
}

a {
    color: rgb(0, 123, 224);
}

.action-button {
    width: 80vw;
    max-width: 300px;
    height: 50px;
    min-height: 50px;
    margin: 1vh 0;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    background-color: rgb(30, 30, 30);
    outline: none;
    cursor: pointer;
}

input, textarea {
    padding: 10px;
    font-size: 25px;
    font-family: Roboto;
    color: rgb(30, 30, 30);
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    border: none;
    outline: none;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto;
    overflow: hidden;
}

.top-nav {
    width: 100vw;
    height: 60px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-nav a {
    color: rgb(30, 30, 30);
}

.top-nav .left {
    position: absolute;
    left: 1vmax;
}

.top-nav .left a {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.top-nav .center a {
    margin: 0 3vw 0 3vw;
    font-size: 25px;
    text-decoration: none;
}

.top-nav .right {
    position: absolute;
    right: 1vmax;
}

.top-nav .right a {
    font-size: 25px;
    text-decoration: none;
}

.top-nav .right a img {
    height: 30px;
}

.error {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: rgb(255, 51, 51);
}

.error h1 {
    margin: 8px 0 8px 10px;
    text-align: left;
    font-size: 17px;
    font-weight: normal;
    color: rgb(255, 255, 255);
}

.error a {
    margin: 8px 8px 8px 5px;
    text-align: right;
    font-size: 17px;
    color: rgb(255, 255, 255);
}

.banner {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 13px 0;
    color: rgb(255, 255, 255);
    background-color: rgb(240, 240, 240);
    background-color: rgb(20, 77, 64);
}

.banner .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.banner .info .img-container {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: white;
}

.banner .info .img-container img {
    width: 50px;
}

.banner .info .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.banner .info .details h1 {
    margin: 0;
    text-align: center;
    font-size: 35px;
    font-weight: normal;
}

.banner .info .details h1 j {
    font-size: 30px;
}

.banner .info .details h2 {
    margin: 10px 0 0 0;
    font-size: 20px;
    font-weight: normal;
}

.banner .info .details a {
    margin-left: 2px;
    color: rgb(255, 255, 255);
}

.banner .actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.banner .actions button {
    margin: 0 10px;
    padding: 7px 20px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}

.mini-banner {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    color: rgb(255, 255, 255);
    background-color: rgb(240, 240, 240);
    background-color: rgb(20, 77, 64);
}

.mini-banner a {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.mini-banner .actions {
    display: flex;
    margin-top: 10px;
    margin-bottom: 6px;
}

.mini-banner .actions button {
    margin: 0 10px;
    padding: 7px 20px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    overflow: auto;
    overflow-x: hidden;
}

.content h1 {
    margin: 5vh 0 0 0;
    text-align: center;
    font-size: 50px;
    font-weight: normal;
}

.content h2 {
    width: 95vw;
    max-width: 1100px;
    margin: 2vh 0 0 0;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    line-height: 40px;
}

.stats-bar {
    width: 92vw;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 15px;
}

.stats-bar .item {
    display: flex;
    flex-direction: column;
    margin: 10px 15px;
}

.stats-bar .item h3 {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    font-weight: normal;
}

.stats-bar .item a {
    margin: 5px 0 0 0;
    text-decoration: underline;
    cursor: pointer;
}

.stats-bar .item h3 b {
    margin: 0 5px 5px 0;
}

.dashboard {
    width: 100vw;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 0 5vh 0;
}

.dashboard .item {
    width: 92vw;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: 4vh auto 0 auto;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 15px;
}

.dashboard .item h3 {
    margin: 12px 0 0 0;
    text-align: center;
    font-size: 21px;
}

.dashboard .item .list {
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px 20px;
}

.dashboard .item .list .element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0 28px 0;
}

.dashboard .item .list .element .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    color: rgb(30, 30, 30);
    text-decoration: none;
    cursor: pointer;
}

.dashboard .item .list .element .info h4 {
    margin: 0;
    font-size: 30px;
    font-weight: normal;
}

.dashboard .item .list .element .info .iconname {
    display: flex;
    align-items: center;
}

.dashboard .item .list .element .info .iconname img {
    width: 25px;
    height: 25px;
    margin: 0;
}

.dashboard .item .list .element .info .iconname h4 {
    margin: 0 0 0 10px;
    font-size: 22px;
}

.dashboard .item .list .element .info h5 {
    margin: 5px 10px 0 0;
    font-size: 18px;
    font-weight: normal;
}

.dashboard .item .list .element .actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dashboard .item .list .element .actions a {
    display: flex;
    align-items: center;
    margin: auto 15px;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
}

.dashboard .item .list hr {
    width: 100%;
    margin: 0 auto 0 auto;
    border-top: 1px solid rgb(200, 200, 200);
}

.dashboard .empty-list {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.dashboard .empty-list h4 {
    margin: 23px 3px;
    font-size: 20px;
    font-weight: normal;
    color: rgb(90, 90, 90);
}

.dashboard .empty-list a {
    margin: 0 3px;
    font-size: 19.5px;
}

.dashboard .item .footer {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(200, 200, 200);
}

.dashboard .item .footer h4 {
    margin: 0 0 0 20px;
    font-size: 20px;
    font-weight: normal;
    color: rgb(0, 0, 0);
}

.dashboard .item .footer a {
    margin: 0 20px 0 0;
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle h4 {
    margin: 0 20px 0 0;
    font-size: 22px;
    font-weight: normal;
}

.toggle .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 34px;
}

.toggle .switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
}

.toggle .switch input:checked + .slider {
    background-color: rgb(88, 184, 106);
}

.toggle .switch input:focus + .slider {
    border: 1px solid rgb(200, 200, 200);
}

.toggle .switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

@media only screen and (min-width: 580px) {
    .top-nav .left {
        display: block;
    }

    .banner {
        flex-direction: row;
    }

    .banner .info {
        flex-direction: row;
    }

    .banner .info .img-container {
        margin: 0 0 0 20px;
    }

    .banner .info .details {
        margin: 0 0 0 20px;
        align-items: flex-start;
    }

    .banner .info .details h1 {
        font-size: 40px;
    }

    .banner .info .details h2 {
        margin-left: 2px;
    }

    .banner .actions {
        width: unset;
        position: absolute;
        right: 0;
        margin: 0;
        align-self: flex-end;
    }

    .mini-banner {
        flex-direction: row;
    }

    .mini-banner a {
        margin: 7px 0;
    }

    .mini-banner .actions {
        position: absolute;
        right: 0;
        margin: 0;
    }

    .stats-bar {
        padding: 0;
        border-radius: 50px;
    }

    .stats-bar .item h3 {
        flex-direction: row;
    }

    .stats-bar .item h3 b {
        margin-bottom: 0;
    }

    .dashboard .item .list .element {
        flex-direction: row;
    }

    .dashboard .item .list .element .actions {
        margin-top: 0;
    }

    .dashboard .item .list .element .actions a {
        margin: 0 0 0 25px;
    }
}
