html {
    color: rgb(30, 30, 30);
}

a {
    color: rgb(0, 123, 224);
}

.action-button {
    width: 80vw;
    max-width: 300px;
    height: 50px;
    min-height: 50px;
    margin: 1vh 0;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    background-color: rgb(30, 30, 30);
    outline: none;
    cursor: pointer;
}

input, textarea {
    margin: 1vh 0;
    padding: 10px;
    font-size: 25px;
    font-family: Roboto;
    color: rgb(30, 30, 30);
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    border: none;
    outline: none;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto;
    overflow: hidden;
}

.top-nav {
    width: 100vw;
    height: 60px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.top-nav a {
    color: rgb(30, 30, 30);
}

.top-nav .left {
    position: absolute;
    left: 1vmax;
}

.top-nav .left a {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.top-nav .center a {
    margin: 0 3vw 0 3vw;
    font-size: 25px;
    text-decoration: none;
}

.top-nav .right {
    position: absolute;
    right: 1vmax;
}

.top-nav .right a {
    font-size: 25px;
    text-decoration: none;
}

.top-nav .right a img {
    height: 30px;
}

.content {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    overflow: auto;
    overflow-x: hidden;
}

.content h1 {
    margin: 5vh 0 0 0;
    text-align: center;
    font-size: 50px;
    font-weight: normal;
}

.content h2 {
    width: 95vw;
    max-width: 1100px;
    margin: 2vh 0 0 0;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    line-height: 40px;
}

.hidden {
    display: none;
}

.stats-bar {
    width: 92vw;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 15px;
}

.stats-bar .item {
    display: flex;
    flex-direction: column;
    margin: 10px 15px;
}

.stats-bar .item h3 {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    font-weight: normal;
}

.stats-bar .item a {
    margin: 5px 0 0 0;
    text-decoration: underline;
    cursor: pointer;
}

.stats-bar .item h3 b {
    margin: 0 5px 5px 0;
}

.dashboard {
    width: 100vw;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 0 5vh 0;
}

.dashboard .item {
    width: 92vw;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: 4vh auto 0 auto;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 15px;
}

.dashboard .item h3 {
    margin: 12px 0 0 0;
    text-align: center;
    font-size: 21px;
}

.dashboard .item .list {
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px 20px;
}

.dashboard .item .list .element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 28px 0;
}

.dashboard .item .list .element .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard .item .list .element .info h4 {
    margin: 0;
    font-size: 30px;
    font-weight: normal;
}

.dashboard .item .list .element .info .iconname {
    display: flex;
    align-items: center;
}

.dashboard .item .list .element .info .iconname img {
    width: 25px;
    height: 25px;
    margin: 0;
}

.dashboard .item .list .element .info .iconname h4 {
    margin: 0 0 0 10px;
    font-size: 22px;
}

.dashboard .item .list .element .info .details {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 0 0;
}

.dashboard .item .list .element .info .details h5 {
    margin: 5px 10px 0 0;
    font-size: 20px;
    font-weight: normal;
}

.dashboard .item .list .element .actions {
    display: flex;
    margin-top: 20px;
}

.dashboard .item .list .element .actions a {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
}

.dashboard .item .list hr {
    width: 100%;
    margin: 0 auto 0 auto;
    border-top: 1px solid rgb(200, 200, 200);
}

.dashboard .item .empty-list {
    display: flex;
    justify-content: center;
}

.dashboard .item .empty-list h4 {
    margin: 23px 0;
    font-size: 20px;
    font-weight: normal;
    color: rgb(90, 90, 90);
}

.dashboard .item .footer {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(200, 200, 200);
}

.dashboard .item .footer h4 {
    margin: 0 0 0 20px;
    font-size: 20px;
    font-weight: normal;
    color: rgb(0, 0, 0);
}

.dashboard .item .footer a {
    margin: 0 20px 0 0;
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

@media only screen and (min-width: 580px) {
    .top-nav .left {
        display: block;
    }

    .stats-bar {
        padding: 0;
        border-radius: 50px;
    }

    .stats-bar .item h3 {
        flex-direction: row;
    }

    .stats-bar .item h3 b {
        margin-bottom: 0;
    }

    .dashboard .item .list .element {
        flex-direction: row;
    }

    .dashboard .item .list .element .actions {
        margin-top: 0;
    }

    .dashboard .item .list .element .actions a {
        margin: 0 0 0 25px;
    }
}
