{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/account_action_confirmation_popup.css' %}">

<div id="popupContainer" class="popup-container">
    <div id="confirmationPopup" class="confirmation-popup">
        <h1 id="confirmMessage"></h1>
        <form id="profileForm" action="" method="POST">
            {% csrf_token %}
            <button id="confirmButton" name="action" value="" onclick="submitProfileForm()"></button>
        </form>
        <button id="cancelButton">Cancel</button>
    </div>
</div>

<script src="{% static 'scripts/account_action_confirmation_popup.js' %}"></script>
