{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/change_email_popup.css' %}">

<div id="popupContainer" class="popup-container">
    <div id="changeEmailPopup" class="popup">
        <form id="changeEmailForm" action="" method="POST">
            {% csrf_token %}
            {{ changeEmailForm }}
            <button id="changeEmailButton" type="submit">Change</button>
        </form>
        <button id="cancelButton" onclick="dismissPopup()">Cancel</button>
    </div>
</div>

<script src="{% static 'scripts/change_email_popup.js' %}"></script>
