<html>
    {% load core_tags %}
    {% load static %}
    <head>
        <title>{{ "Create account"|buildPageTitle }}</title>
    </head>
    <body>
        {% include 'core.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/login_create_account.css' %}">

        <div class="content">
            <div class="heading">
                <h1>Hello there.</h1>
                <h2>Let's get you an account.</h2>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="firstlast-name">
                    {{ createAccountForm.firstName }}
                    {{ createAccountForm.lastName }}
                </div>
                {{ createAccountForm.email }}
                {{ createAccountForm.password }}
                {{ createAccountForm.repeatPassword }}

                <button class="action-button" type="submit">Create account</button>
            </form>
            <div class="actions">
                <a href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </body>
</html>
