<html>
    <head>
        <title>Pages</title>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">
    </head>
    <body>
        {% include 'core.html' %}

        <div class="content">
            <div class="dashboard">
                <div class="dashboard-item" style="max-width: 400px">
                    <h3>Memberships</h3>
                    <div class="dashboard-item-list">
                        {{ leaveOrganizationConfirmationPopupData|json_script:"leaveOrganizationConfirmationPopupData" }}
                        {% for membership in request.user.profile.memberships.all %}
                            <div class="dashboard-item-list-entry"
                            {% if forloop.counter == request.user.profile.memberships.all|length %}
                                style="margin-bottom: 0"
                            {% endif %}
                            >
                                <div class="icon-name">
                                   <img src="{% static 'images/earth.png' %}" alt="earth">
                                   <h4>{{ membership.name }}</h4>
                                </div>
                                <div class="actions">
                                    <a onclick="confirmationPopup.display('leaveOrganizationConfirmationPopupData',
                                                                          null,
                                                                          {{ membership.id }},
                                                                          'Leave <b>{{ membership.name }}</b>?<br><br>You will no longer be a member of this organization.')">Leave</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    {% include 'base_popup.html' %}
    {% include 'confirmation_popup.html' %}
</html>
