<html>
    <head>
        <title>Login</title>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/login_create_account.css' %}">
    </head>
    <body>
        {% include 'core.html' %}

        <div class="content">
            <h1>Hello there.</h1>
            <h2>Let's get you signed in.</h2>
            <form action="" method="POST">
                {% csrf_token %}
                {{ loginForm }}
                <button class="action-button" type="submit">Login</button>
            </form>
            <div class="actions">
                <a href="{% url 'home' %}">Reset password</a>
                <a href="{% url 'create_account' %}">Create account</a>
            </div>
        </div>
    </body>
</html>
