<html>
    {% load core_tags %}
    {% load static %}
    <head>
        <title>{{ "Login"|buildPageTitle }}</title>
    </head>
    <body>
        {% include 'core.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/login_create_account.css' %}">

        <div class="content">
            <div class="heading">
                <h1>Hello there.</h1>
                <h2>Let's get you signed in.</h2>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                {{ loginForm }}
                <button class="action-button" type="submit">Login</button>
            </form>
            <div class="actions">
                <a href="{% url 'home' %}">Reset password</a>
                <a href="{% url 'create_account' %}">Create account</a>
            </div>
        </div>
    </body>
</html>
