<html>
    {% load core_tags %}
    {% load static %}
    <head>
        <title>{{ "Profile"|buildPageTitle }}</title>
    </head>
    <body>
        {% include 'core.html' %}
        {% include 'dashboard.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/profile.css' %}">

        {% if request.user.is_staff %}
            <div class="message-container">
                <div class="message">
                    <h1>Looks like you have access to the staff page!</h1>
                    <a href="{% url 'staff' %}">View it</a>
                </div>
            </div>
        {% endif %}
        <div class="content">
            <div class="dashboard" style="max-width: 900px;">
                <div class="item" style="max-width: 850px; border-radius: 20px; margin-top: 2vmax">
                    <div class="profile">
                        <img src="{% static 'images/earth.png' %}">
                        <h3>{{ request.user.get_full_name }}</h3>

                    </div>
                    <div class="stats">
                        <div class="stat">
                            <h4>Email - <a onclick="changeEmailPopup.display()">change</a></h4>
                            <h5>
                                {{ request.user.email }}
                            </h5>
                        </div>
                        {% if request.user.profile.organization %}
                                <div class="stat">
                                    <h4>Organization - <a href="{% url 'manage_organization' %}">manage</a></h4>
                                    <h5>{{ request.user.profile.organization.name }}</h5>
                                </div>
                        {% endif %}
                    </div>
                    <div class="profile-actions">
                        <button onclick="confirmationPopup.display('Logout of the account associated with <b>{{ request.user.email }}</b>?',
                                                                   'Logout',
                                                                   'logout',
                                                                   'True')">Logout</button>
                        <button onclick="confirmationPopup.display(`Delete the account associated with <b>{{ request.user.email }}</b>?
                                                                    <br><br>This action cannot be undone.<br>`,
                                                                   'Delete',
                                                                   'deleteOrganization',
                                                                   'True')">Delete account</button>
                    </div>
                </div>
                <div class="item" style="max-width: 400px">
                    <h3>Pending Memberships</h3>
                    {% if pendingMemberships %}
                        <div class="list">
                            {% for membership in pendingMemberships %}
                                {% if forloop.counter == pendingMemberships|length %}
                                <div class="element" style="margin-bottom: 5px">
                                {% else %}
                                <div class="element">
                                {% endif %}
                                    <a class="info" href="{% url 'explore' %}?organization={{ membership.organization.name }}">
                                        <div class="iconname">
                                            <img src="{% static 'images/earth.png' %}" alt="earth">
                                            <h4>{{ membership.organization.name }}</h4>
                                        </div>
                                    </a>
                                    <div class="actions">
                                        <a onclick="confirmationPopup.display('Cancel your pending membership request to <b>{{ membership.organization.name }}</b>?',
                                                                              'Cancel request',
                                                                              'membershipIdToCancel',
                                                                              {{ membership.id }})">CANCEL</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="empty-list">
                            <h4>No pending memberships</h4>
                        </div>
                    {% endif %}
                </div>
                <div class="item" style="max-width: 400px">
                    <h3>Memberships</h3>
                    {% if memberships %}
                        <div class="list">
                            {{ cancelMembershipPopupData|json_script:"cancelMembershipPopupData" }}
                            {% for membership in memberships %}
                                {% if forloop.counter == memberships|length %}
                                <div class="element" style="margin-bottom: 5px">
                                {% else %}
                                <div class="element">
                                {% endif %}
                                    <a class="info" href="{% url 'explore' %}?organization={{ membership.organization.name }}">
                                        <div class="iconname">
                                            <img src="{% static 'images/earth.png' %}" alt="earth">
                                            <h4>{{ membership.organization.name }}</h4>
                                        </div>
                                    </a>
                                    <div class="actions">
                                        {% if membership.organization.isPrivate %}
                                            <a onclick="confirmationPopup.display(`Cancel your membership with <b>{{ membership.organization.name }}</b>?
                                                                                   <br><br>This organization is private, so you will lose access to its Pages.`,
                                                                                  'Cancel membership',
                                                                                  'membershipIdToCancel',
                                                                                  {{ membership.id }})">CANCEL</a>
                                        {% else %}
                                            <a onclick="confirmationPopup.display(`Cancel your membership with <b>{{ membership.organization.name }}</b>?
                                                                                   <br><br>This organization is public, so you will still have access to its Pages.`,
                                                                                  'Cancel membership',
                                                                                  'membershipIdToCancel',
                                                                                  {{ membership.id }})">CANCEL</a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="empty-list">
                            <h4>No memberships</h4>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% include 'base_popup.html' %}
        {% include 'confirmation_popup.html' %}
        {% include 'change_email_popup.html' %}
    </body>
</html>
