<html>
    {% load static %}
    <head>
        <title>Profile</title>

        <link rel="stylesheet" type="text/css" href="{% static 'styles/profile.css' %}">
    </head>
    <body>
        {% include 'core.html' %}

        <div class="content">
            <div class="profile">
                {% if request.user.creatoruser %}
                    <img src="{% static 'images/earth.png' %}" alt="earth">
                {% else %}
                    <img src="{% static 'images/cliff.png' %}" alt="cliff">
                {% endif %}
                <h1>{{ request.user.first_name }} {{ request.user.last_name }}</h1>
                <div class="details">
                    <div class="detail-container">
                        <div class="detail" style="margin-top: 0">
                            <h3>Email</h3>
                            <h4>{{ request.user.email }}</h4>
                        </div>
                        <a onclick="displayChangeEmailPopup()">Change email</a>
                    </div>
                    {% if request.user.creatoruser %}
                        <div class="detail-container">
                            <div class="detail">
                                <h3>Account type</h3>
                                <h4>Creator</h4>
                            </div>
                            {{ downgradeToCustomerData|json_script:"downgradeToCustomerData" }}
                            <a onclick="displayConfirmationPopup('downgradeToCustomerData')">Downgrade</a>
                        </div>
                        <div class="links">

                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h3>Organization</h3>
                                <h4>{{ request.user.creatoruser.organization.name }}</h4>
                            </div>
                        </div>
                        <a href="{% url 'organization' %}">Organization page</a>
                    {% else %}
                        <div class="detail-container">
                            <div class="detail">
                                <h3>Account type</h3>
                                <h4>Customer</h4>
                            </div>
                            <a href="{% url 'creator_upgrade' %}">Upgrade</a>
                        </div>
                    {% endif %}
                </div>
                <div class="account-actions">
                    {{ logoutPopupData|json_script:"logoutPopupData" }}
                    <button id="logoutButton" onclick="displayConfirmationPopup('logoutPopupData')">Logout</button>
                    {{ deleteAccountPopupData|json_script:"deleteAccountPopupData" }}
                    <button id="deleteAccountButton" onclick="displayConfirmationPopup('deleteAccountPopupData')">Delete account</button>
                </div>
            </div>
        </div>

        {% include 'change_email_popup.html' %}
        {% include 'confirmation_popup.html' %}
    </body>
</html>
