<html>
    {% load static %}
    <head>
        <title>Admin</title>

        <link rel="stylesheet" type="text/css" href="{% static 'styles/staff.css' %}">
    </head>
    <body>
        {% include 'core.html' %}

        <div class="content">
            <h1>Staff</h1>
            <h2>Manage organizations, users, or individual pages.</h2>
            <div class="dashboard">
                <div class="dashboard-item">
                    <h3>Organization applications</h3>
                    <div class="dashboard-item-list">
                        {% for organizationApplication in organizationApplications %}
                            <div class="dashboard-item-list-entry"
                            {% if forloop.counter == organizationApplications|length %}
                                style="margin-bottom: 0"
                            {% endif %}
                            >
                                <h4>{{ organizationApplication.name }}</h4>
                                <div class="details">
                                    <h5><b>Applicant:</b> {{ organizationApplication.applicant.get_full_name }}</h5>
                                </div>
                                <div class="actions">
                                    <form id="approveForm" method="POST">
                                        {% csrf_token %}
                                        <input class="hidden" name="organizationApplicationIdToApprove" value="{{ organizationApplication.id }}">
                                        <a onclick="document.getElementById('approveForm').submit()">
                                            Approve
                                        </a>
                                    </form>
                                    <form id="denyForm" method="POST">
                                        {% csrf_token %}
                                        <input class="hidden" name="organizationApplicationIdToDeny" value="{{ organizationApplication.id }}">
                                        <a onclick="document.getElementById('denyForm').submit()">
                                            Deny
                                        </a>
                                    </form>
                                </div>
                            </div>
                            {% if forloop.counter < organizationApplications|length %}
                                <hr>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="dashboard-item">
                    <h3>Organizations</h3>
                    <div class="dashboard-item-list">
                        {{ organizationDeleteConfirmationPopupData|json_script:"organizationDeleteConfirmationPopupData" }}
                        {% for organization in organizations %}
                            <div class="dashboard-item-list-entry"
                            {% if forloop.counter == organizations|length %}
                                style="margin-bottom: 0"
                            {% endif %}
                            >
                                <h4>{{ organization.name }}</h4>
                                <div class="details">
                                    <h5><b>Owner:</b> {{ organization.owner.get_full_name }}</h5>
                                </div>
                                <div class="actions">
                                    <a onclick="confirmationPopup.display('organizationDeleteConfirmationPopupData',
                                                                          null,
                                                                          {{ organization.id }},
                                                                          'Permanently delete <b>{{ organization.name }}</b> as an organization?')">
                                        Delete
                                    </a>
                                </div>
                            </div>
                            {% if forloop.counter < organizations|length %}
                                <hr>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>

    {% include 'base_popup.html' %}
    {% include 'confirmation_popup.html' %}
</html>
