<html>
    {% load core_tags %}
    {% load static %}
    <head>
        <title>{{ "Staff"|buildPageTitle }}</title>
    </head>
    <body>
        {% include 'core.html' %}
        {% include 'dashboard.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/login_create_account.css' %}">

        <div class="content">
            <div class="heading">
                <h1>Staff</h1>
                <h2>Manage organizations, users, or individual pages.</h2>
            </div>
            <div class="dashboard">
                <div class="item" style="max-width: 600px">
                    <h3>Organizations</h3>
                    {% if organizations %}
                        <div class="list">
                            {% for organization in organizations %}
                                {% if forloop.counter == organizations|length %}
                                <div class="element" style="margin-bottom: 5px">
                                {% else %}
                                <div class="element">
                                {% endif %}
                                    <div class="info" style="cursor: auto">
                                        <h4>{{ organization.name }}</h4>
                                        <h5>Owned by <i>{{ organization.owner.get_full_name }}</i></h5>
                                    </div>
                                    <div class="actions">
                                        <a onclick="confirmationPopup.display(`Permanently delete <b>{{ organization.name }}</b>
                                                                               as an organization?`,
                                                                              'Delete',
                                                                              'organizationIdToDelete',
                                                                              {{ organization.id }})">DELETE</a>
                                        </a>
                                    </div>
                                </div>
                                {% if forloop.counter < organizations|length %}
                                    <hr>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="empty-list">
                            <h4>No organizations</h4>
                        </div>
                    {% endif %}
                </div>
                <div class="item" style="max-width: 600px">
                    <h3>Unapproved organizations</h3>
                    {% if unapprovedOrganizations %}
                        <div class="list">
                            {% for unapprovedOrganization in unapprovedOrganizations %}
                                {% if forloop.counter == unapprovedOrganizations|length %}
                                <div class="element" style="margin-bottom: 5px">
                                {% else %}
                                <div class="element">
                                {% endif %}
                                    <div class="info" style="cursor: auto">
                                        <h4>{{ unapprovedOrganization.name }}</h4>
                                        <h5>from <i>{{ unapprovedOrganization.owner.get_full_name }}</i></h5>
                                    </div>
                                    <div class="actions">
                                        <a onclick="confirmationPopup.display(`Approve <b>{{ unapprovedOrganization.name }}</b>
                                                                               as an organization?`,
                                                                              'Approve',
                                                                              'organizationIdToApprove',
                                                                              {{ unapprovedOrganization.id }})">APPROVE</a>
                                        <a onclick="confirmationPopup.display(`Deny <b>{{ unapprovedOrganization.name }}</b>
                                                                               as an organization?`,
                                                                              'Deny',
                                                                              'organizationIdToDeny',
                                                                              {{ unapprovedOrganization.id }})">DENY</a>
                                    </div>
                                </div>
                                {% if forloop.counter < unapprovedOrganizations|length %}
                                    <hr>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="empty-list">
                            <h4>All caught up!</h4>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>

    {% include 'base_popup.html' %}
    {% include 'confirmation_popup.html' %}
</html>
