<html>
    {% load static %}
    <head>
        <title>Staff</title>

        <link rel="stylesheet" type="text/css" href="{% static 'styles/staff.css' %}">
    </head>
    <body>
        {% include 'core.html' %}
        {% include 'dashboard.html' %}

        <div class="content">
            <h1>Staff</h1>
            <h2>Manage organizations, users, or individual pages.</h2>
            <div class="dashboard">
                <div class="item" style="max-width: 600px">
                    <h3>Organizations</h3>
                    {% if organizations %}
                        <div class="list">
                            {% for organization in organizations %}
                                {% if forloop.counter == organizations|length %}
                                <div class="element" style="margin-bottom: 5px">
                                {% else %}
                                <div class="element">
                                {% endif %}
                                    <div class="info" style="cursor: auto">
                                        <h4>{{ organization.name }}</h4>
                                        <h5>Owned by <i>{{ organization.owner.get_full_name }}</i></h5>
                                    </div>
                                    <div class="actions">
                                        <a onclick="confirmationPopup.display(`Permanently delete <b>{{ organization.name }}</b>
                                                                               as an organization?`,
                                                                              'Delete',
                                                                              'organizationIdToDelete',
                                                                              {{ organization.id }})">DELETE</a>
                                        </a>
                                    </div>
                                </div>
                                {% if forloop.counter < organizations|length %}
                                    <hr>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="empty-list">
                            <h4>No organizations</h4>
                        </div>
                    {% endif %}
                </div>
                <div class="item" style="max-width: 600px">
                    <h3>New organization requests</h3>
                    {% if newOrganizationRequests %}
                        <div class="list">
                            {% for newOrganizationRequest in newOrganizationRequests %}
                                {% if forloop.counter == newOrganizationRequests|length %}
                                <div class="element" style="margin-bottom: 5px">
                                {% else %}
                                <div class="element">
                                {% endif %}
                                    <div class="info" style="cursor: auto">
                                        <h4>{{ newOrganizationRequest.name }}</h4>
                                        <h5>from <i>{{ newOrganizationRequest.applicant.get_full_name }}</i></h5>
                                    </div>
                                    <div class="actions">
                                        <a onclick="confirmationPopup.display(`Approve <b>{{ newOrganizationRequest.name }}</b>
                                                                               to be an organization?`,
                                                                              'Approve',
                                                                              'newOrganizationRequestIdToApprove',
                                                                              {{ newOrganizationRequest.id }})">APPROVE</a>
                                        <a onclick="confirmationPopup.display(`Deny <b>{{ newOrganizationRequest.name }}</b>
                                                                               to be an organization?`,
                                                                              'Deny',
                                                                              'newOrganizationRequestIdToDeny',
                                                                              {{ newOrganizationRequest.id }})">DENY</a>
                                    </div>
                                </div>
                                {% if forloop.counter < newOrganizationRequests|length %}
                                    <hr>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="empty-list">
                            <h4>No requests</h4>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>

    {% include 'base_popup.html' %}
    {% include 'confirmation_popup.html' %}
</html>
