.content .viewer-container .viewer .item {
    margin-bottom: 2.5vh;
}

.content .viewer-container .viewer .item form {
    width: 100%;
    margin: 3vh 0 2vh 0;
}

.content .viewer-container .viewer .item form .actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .viewer-container .viewer .item form .actions button {
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
}

.content .viewer-container .viewer .item .user-list-container {
    display: flex;
    flex-direction: column;
}

.content .viewer-container .viewer .item .user-list-container h3 {
    margin: 0 0 15px 0;
    font-size: 20px;
}

.content .viewer-container .viewer .item .user-list-container .user-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3vh;
}

.content .viewer-container .viewer .item .user-list-container .user-list .item {
    max-width: 150px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.content .viewer-container .viewer .item .user-list-container .user-list .item img {
    width: 50px;
}

.content .viewer-container .viewer .item .user-list-container .user-list .item h4 {
    margin: 15px 0 0 0;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}

@media only screen and (min-width: 1500px) {
    .content {
        flex-direction: row;
        justify-content: center;
    }
}

@media only screen and (min-width: 580px) {
    .content .viewer-container .viewer .item form .actions {
        flex-direction: row;
    }
}
