.content .viewer-container h1 {
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.content .viewer-container .viewer .item .header .price {
    display: flex;
    align-items: center;
}

.content .viewer-container .viewer .item .header .price img {
    height: 25px;
    margin-bottom: 2px;
}

.content .dashboard .empty-list {
    margin: 1vh 0 2vh 0;
}

@media only screen and (min-width: 1500px) {
    .content {
        flex-direction: row;
        justify-content: center;
    }

    .content .viewer-container .viewer {
        margin-top: 0;
    }
}
