.top-nav {
    background-color: rgb(250, 250, 252);
}

.mini-banner {
    background-color: rgb(250, 250, 252);
}

.mini-banner a {
    color: rgb(30, 30, 30);
}

.mini-banner .actions button {
    color: rgb(30, 30, 30);
    border-color: rgb(30, 30, 30);
}

.content .heading {
    margin-top: 2vh;
}

.content form {
    width: 92vw;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh 0 10vh 0;
}

.content form input, textarea {
    width: 100%;
}

.content form #pageNameInput {
    max-width: 600px;
    margin: 1vh 0;
}

.content form .explanation-container {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    margin: 1vh 0;
}

.content form .explanation-container h5 {
    align-self: flex-end;
    margin: 10px 0 0 0;
    font-size: 17px;
    font-weight: normal;
    color: rgb(100, 100, 100);
}

.content form .explanation-container h5 a {
    cursor: pointer;
}

.content form .explanation-container #pageExplanationTextArea {
    width: 100%;
}

.content form .items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vh 0 1vh 0;
}

.content form .items .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content form .items .item .actions {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.content form .items .item .actions .field-options {
    height: 100%;
    display: flex;
}

.content form .items .item .actions .field-options button {
    width: 50px;
    min-width: 50px;
    margin: 0 15px 0 0;
    font-size: 25px;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    text-decoration: none;
}

.content form .items .item .actions .field-options button img {
    width: 25px;
    margin: 0;
}

.content form .items .item .actions button {
    font-size: 20px;
    color: rgb(30, 30, 30);
    background-color: rgb(250, 250, 252);
    text-decoration: underline;
    border: none;
    cursor: pointer;
    outline: none;
}

.content form .items hr {
    width: 100%;
    margin: 6vh auto 4vh auto;
}

.content form #addItemButton {
    width: 50px;
    height: 50px;
    padding-bottom: 5px;
    font-size: 30px;
    color: rgb(30, 30, 30);
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}

.field-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2vh 0 0 0;
}

.field-container img {
    height: 25px;
    margin: 0 10px 0 0;
}

.field-container button {
    font-size: 20px;
    color: rgb(30, 30, 30);
    background-color: rgb(255, 255, 255);
    text-decoration: underline;
    border: none;
    cursor: pointer;
    outline: none;
}

.field-container button img {
    margin: 0 0 0 10px;
}

#title-field-container {
    max-width: 400px;
}

#removeFieldButton {
    margin-top: 5px;
}

#removeFieldButton img {
    margin: 0;
}

#price-field-container {
    max-width: 250px;
    flex-wrap: nowrap;
}

#location-field-container {
    max-width: 500px;
    flex-wrap: nowrap;
    align-self: flex-start;
}

#datetime-field-container {
    justify-content: space-between;
    align-items: space-between;
}

#datetime-field-container .datetime-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
}

#datetime-field-container img {
    margin: 0;
}

#datetime-field-container img button {
    margin: 0;
}

#datetime-field-container .datetime-range {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

#datetime-field-container .datetime-range input {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
}

#datetime-field-container h3 {
    margin: 10px;
    font-size: 20px;
    font-weight: normal;
}

#datetime-field-container .datetime-repeat {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#datetime-field-container .datetime-repeat .days {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#datetime-field-container .datetime-repeat .days button {
    width: 48px;
    height: 48px;
    margin: 0 20px 10px 0;
    padding-top: 2px;
    font-size: 20px;
    text-decoration: none;
    border: none;
    border-radius: 40px;
    background-color: rgb(240, 240, 240);
    outline: none;
}

#datetime-field-container .datetime-repeat .times {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#datetime-field-container .datetime-repeat .times input {
    margin: 1vh 0;
    font-size: 20px;
}

#datetime-field-container .datetime-repeat .times input[type=time] {
    max-width: 150px;
}

#datetime-field-container .datetime-repeat .times input[type=date] {
    max-width: 200px;
}

@media only screen and (min-width: 580px) {
    .content .header {
        justify-content: left;
    }

    .content form .items .item button {
        flex-grow: 0;
    }

    #datetime-field-container {
        justify-content: flex-start;
    }

    #datetime-field-container input {
        max-width: 300px;
    }

    #datetime-field-container .datetime-repeat .days {
        justify-content: flex-start;
    }

    #datetime-field-container .datetime-repeat .times {
        justify-content: flex-start;
    }
}
