.content .header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content form {
    width: 92vw;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4vh 0 10vh 0;
}

.content form input, textarea {
    width: 100%;
}

.content form #pageNameInput {
    max-width: 600px;
}

.content form .items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vh 0 1vh 0;
}

.content form .items .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content form .items hr {
    width: 100%;
    margin: 5vh auto 4vh auto;
}

.content form .items .item #sheetItemTitle {
    max-width: 600px;
}

.field-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2vh 0 0 0;
}

.field-container img {
    height: 25px;
    margin: 0 10px 0 0;
}

.field-container button {
    font-size: 20px;
    color: rgb(30, 30, 30);
    background-color: rgb(255, 255, 255);
    text-decoration: underline;
    border: none;
    cursor: pointer;
    outline: none;
}

.field-container button img {
    margin: 0 0 0 10px;
}

#title-field-container {
    max-width: 400px;
}

#price-field-container {
    max-width: 250px;
    flex-wrap: nowrap;
}

#location-field-container {
    max-width: 500px;
    flex-wrap: nowrap;
    align-self: flex-start;
}

#datetime-field-container img {
    margin: 0 0 10px 0;
}

#datetime-field-container button {
    margin: 0;
}

#datetime-field-container input {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
}

#datetime-field-container h3 {
    margin: 10px;
    font-size: 20px;
    font-weight: normal;
}

.content form .items .item .actions {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.content form .items .item .actions .field-options {
    height: 100%;
    display: flex;
}

.content form .items .item .actions .field-options button {
    width: 50px;
    min-width: 50px;
    margin: 0 15px 0 0;
    font-size: 25px;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    text-decoration: none;
}

.content form .items .item .actions .field-options button img {
    width: 25px;
    margin: 0;
}

.content form .items .item .actions button {
    font-size: 20px;
    color: rgb(30, 30, 30);
    background-color: rgb(255, 255, 255);
    text-decoration: underline;
    border: none;
    cursor: pointer;
    outline: none;
}

.content form #addItemButton {
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: rgb(30, 30, 30);
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}

.content form .actions {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3vh 0 0 0;
}

.content form .actions button {
    margin-left: 10px;
    margin-right: 10px;
}

.content form .actions #savePageButton {
    color: rgb(255, 255, 255);
    background-color: rgb(30, 30, 30);
}

.content form .actions #deletePageButton {
    background-color: rgb(235, 70, 70);
}

@media only screen and (min-width: 580px) {
    .content .header {
        justify-content: left;
    }

    .content form .items .item button {
        flex-grow: 0;
    }

    #datetime-field-container {
        justify-content: flex-start;
    }

    #datetime-field-container input {
        max-width: 300px;
    }

    #datetime-field-container img {
        margin: 0 10px 0 0;
    }
}
