.content .header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content form {
    width: 95vw;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4vh 0 10vh 0;
}

.content form input, textarea {
    width: 100%;
}

.content form #pageNameInput {
    max-width: 600px;
}

.content form .items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vh 0 1vh 0;
}

.content form .items .item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.content form .items .item hr {
    width: 85vw;
    max-width: 500px;
    margin: 4vh auto 4vh auto;
}

.content form .items .item #sheetItemTitle {
    max-width: 600px;
}

.content form .items .item #sheetItemPrice {
    max-width: 200px;
}

.content form .items .item .row-three {
    display: flex;
}

.content form .items .item button {
    flex-grow: 1;
    width: 150px;
    font-size: 20px;
    color: rgb(30, 30, 30);
    background-color: rgb(255, 255, 255);
    text-decoration: underline;
    border: none;
    cursor: pointer;
    outline: none;
}

.content form #addItemButton {
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: rgb(30, 30, 30);
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}

.content form .actions {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3vh 0 0 0;
}

.content form .actions #savePageButton {
    color: rgb(255, 255, 255);
    background-color: rgb(30, 30, 30);
}

.content form .actions #deletePageButton {
    background-color: rgb(235, 70, 70);
}

@media only screen and (min-width: 580px) {
    .content .header {
        justify-content: left;
    }

    .content form .items .item button {
        flex-grow: 0;
    }
}
