.content {
    align-items: center;
}

.content form {
    width: 92vw;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4vh 0 0 0;
}

.content form input, textarea {
    width: 100%;
    margin: 1vh 0 1vh 0;
    padding: 1vh;
    font-size: 25px;
    font-family: Roboto;
    color: rgb(60, 60, 60);
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    border: none;
    outline: none;
}

.content form .required-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh 0 0 0;
}

.content form .required-container h3 {
    margin: 0 20px 0 0;
    font-size: 25px;
    font-weight: normal;
}

.content form .required-container .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.content form .required-container .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.content form .required-container .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.content form .required-container .switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.content form .required-container .switch input:checked + .slider {
    background-color: rgb(71,184,93);
}

.content form .required-container .switch input:focus + .slider {
    box-shadow: 0 0 1px rgb(71,184,93);
}

.content form .required-container .switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.content form button {
    width: 90vw;
    max-width: 350px;
    height: 50px;
    margin: 5vh 5px 20px 5px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    background-color: rgb(30, 30, 30);
    outline: none;
    cursor: pointer;
}
