.content {
    align-items: center;
}

.content .stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vh 0 0 0;
}

.content .stats-container .stats-bar {
    width: 92vw;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 15px;
}

.content .stats-container .stats-bar h3 {
    margin: 10px 15px;
    font-weight: normal;
}

.content .stats-container a {
    margin: 10px 0 0 0;
    color: rgb(0, 123, 224);
}

.content .dashboard .dashboard-item .dashboard-item-list .active-page {
    margin: 20px 0 28px 0;
}

.content .dashboard .dashboard-item .dashboard-item-list .active-page h4 {
    margin: 0 0 10px 0;
    font-size: 30px;
    font-weight: normal;
    color: rgb(60, 60, 60);
}

.content .dashboard .dashboard-item .dashboard-item-list .active-page .details {
    display: flex;
    flex-wrap: wrap;
}

.content .dashboard .dashboard-item .dashboard-item-list .active-page .details h5 {
    margin: 5px 10px 5px 0;
    font-size: 20px;
    font-weight: normal;
    color: rgb(60, 60, 60);
}

.content .dashboard .dashboard-item .dashboard-item-list .active-page .actions {
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
}

.content .dashboard .dashboard-item .dashboard-item-list .active-page .actions a {
    margin: 0 20px;
    font-size: 20px;
    color: rgb(0, 123, 224);
}

.content .dashboard .dashboard-item .dashboard-item-list hr {
    width: 100%;
    margin: 0 auto 0 auto;
    border-top: 1px solid rgb(200, 200, 200);
}

.content .dashboard .dashboard-item .dashboard-item-list .requester {
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 0;
    color: rgb(60, 60, 60);
    text-decoration: none;
}

.content .dashboard .dashboard-item .dashboard-item-list .requester img {
    width: 25px;
    height: 25px;
}

.content .dashboard .dashboard-item .dashboard-item-list .requester h4 {
    margin: 0 0 0 10px;
    padding: 0;
    font-size: 22px;
    font-weight: normal;
}

.content button {
    width: 95vw;
    max-width: 350px;
    min-height: 50px;
    margin: 4vh 0 7vh 0;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    background-color: rgb(30, 30, 30);
    outline: none;
    cursor: pointer;
}

@media only screen and (min-width: 580px) {
    .content .stats-container .stats-bar {
        padding: 0;
        border-radius: 50px;
    }

    .content .dashboard .dashboard-item .dashboard-item-list .active-page .actions {
        display: flex;
        justify-content: left;
    }

    .content .dashboard .dashboard-item .dashboard-item-list .active-page .actions a {
        margin: 0 30px 0 0;
    }
}
