.content {
    align-items: center;
}

.content .info {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.content .info .active-pages-container {
    width: 92vw;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin: 5vh 0 5vh 0;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 15px;
}

.content .info .active-pages-container h3 {
    margin: 30px 0 0 20px;
    font-size: 25px;
    color: rgb(60, 60, 60);
}

.content .info .active-pages-container .active-pages {
    margin: 0 20px 0 20px;
}

.content .info .active-pages-container .active-pages .active-page {
    margin: 30px 0 35px 0;
}

.content .info .active-pages-container .active-pages .active-page h4 {
    margin: 0;
    font-size: 30px;
    font-weight: normal;
    color: rgb(60, 60, 60);
}

.content .info .active-pages-container .active-pages .active-page .details {
    display: flex;
    flex-wrap: wrap;
}

.content .info .active-pages-container .active-pages .active-page .details h5 {
    margin: 10px 10px 5px 0;
    font-size: 20px;
    font-weight: normal;
    color: rgb(60, 60, 60);
}

.content .info .active-pages-container .active-pages .active-page .actions {
    display: flex;
    margin: 10px 0 0 0;
}

.content .info .active-pages-container .active-pages .active-page .actions a {
    margin: 0 20px 0 0;
    font-size: 20px;
    color: rgb(0, 123, 224);
}

.content .info .active-pages-container .active-pages hr {
    width: 80%;
    margin: 0 auto 0 auto;
    border-top: 1px solid rgb(200, 200, 200);
}
