.content {
    align-items: center;
}

.content .header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h1 {
    margin: 5vh 0 3vh 0;
    font-size: 50px;
    font-weight: normal;
    color: rgb(50, 50, 50);
}

.content form {
    width: 95vw;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 10vh 0;
}

.content form input, textarea {
    width: 100%;
    margin: 1vh 0 1vh 0;
    padding: 1vh;
    font-size: 25px;
    font-family: Roboto;
    color: rgb(60, 60, 60);
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    border: none;
    outline: none;
}

.content form #sheetNameInput {
    max-width: 600px;
}

.content form .items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4vh 0 3vh 0;
}

.content form .items .item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.content form .items .item hr {
    width: 85vw;
    max-width: 500px;
    margin: 4vh auto 4vh auto;
}

.content form .items .item #sheetItemTitle {
    max-width: 600px;
}

.content form .items .item #sheetItemPrice {
    max-width: 200px;
}

.content form .items .item .row-three {
    display: flex;
}

.content form .items .item button {
    flex-grow: 1;
    width: 150px;
    margin: 1vh 0 1vh 0;
    font-size: 20px;
    color: rgb(60, 60, 60);
    background-color: rgb(255, 255, 255);
    text-decoration: underline;
    border: none;
    cursor: pointer;
    outline: none;
}

.content form .buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3vh 0 0 0;
}

.content form .buttons button, #addItemButton {
    width: 90vw;
    max-width: 350px;
    height: 50px;
    margin: 0 5px 20px 5px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    background-color: rgb(30, 30, 30);
    outline: none;
    cursor: pointer;
}

.content form #addItemButton {
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: rgb(70, 70, 70);
    background-color: rgb(230, 230, 230);
}

.content form .buttons #saveSheetButton {
    color: rgb(255, 255, 255);
    background-color: rgb(30, 30, 30);
}

.content form .buttons #deleteSheetButton {
    background-color: rgb(235, 70, 70);
}

@media only screen and (min-width: 580px) {
    .content .header {
        justify-content: left;
    }

    .content form .items .item button {
        flex-grow: 0;
    }
}
