.content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4vh 0 0 0;
}

.content form input {
    width: 92vw;
    max-width: 550px;
    margin: 2vh 0 1vh 0;
    padding: 1vh;
    font-size: 25px;
    font-family: Roboto;
    color: rgb(60, 60, 60);
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    border: none;
    outline: none;
}

.content form h3 {
    margin: 1vh 0 0 0;
    font-size: 20px;
    font-weight: normal;
}

.content form button {
    margin: 4vh 0 0 0;
}