.content .page-listings {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
}

.content .page-listings .page-listing {
    width: 90vw;
    max-width: 700px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    margin: 3vh 2vw;
    color: rgb(30, 30, 30);
    border-radius: 10px;
    border: 1px solid rgb(200, 200, 200);
    transition: 0.5s;
    text-decoration: none;
}

.content .page-listings .page-listing h1 {
    margin: 20px 0 0 0;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
}

.content .page-listings .page-listing hr {
    width: 50px;
    margin: 15px auto 0 auto;
    color: rgb(220, 220, 220);
}

.content .page-listings .page-listing p {
    margin: 25px 40px 20px 40px;
    font-size: 20px;
    line-height: 28px;
}
