.content form {
    width: 90vw;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4vh 0 0 0;
}

.content form select {
    width: 92vw;
    max-width: 450px;
    padding: 5px;
    font-size: 25px;
}

.content form button {
    margin-top: 4vh;
}

.content h3 {
    margin: 3vh 0 0 0;
    font-size: 22px;
    font-weight: normal;
}

.content a {
    margin: 4vh 0 0 0;
    font-size: 18px;
}
