
.top-nav {
    background-color: rgb(240, 240, 240);
}

.banner {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(30, 30, 30);
    background-color: rgb(240, 240, 240);
}

.banner .info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4vh 0 4vh 0;
}

.banner .info .img-container {
    width: 130px;
    height: 130px;
    margin: auto;
}

.banner .info .details {
    margin: auto;
}

.banner .info .details h1 {
    margin-top: 10px;
    font-size: 33px;
}

.banner .actions button {
    color: rgb(30, 30, 30);
    border-color: rgb(30, 30, 30);
}

.content h1 {
    margin: 2vh 0 0 0;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}

.content a {
    margin: 10px 0 0 0;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

.content .details {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3vh 0 1vh 0;
    border-radius: 10px;
}

.content .details a:visited {
    text-decoration: none;
}

.content .details .detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;
}

.content .details .detail-container .detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-radius: 40px;
    background-color: rgb(240, 240, 240);
}

.content .details .detail-container .detail h3 {
    margin: 0 0 0 20px;
    font-size: 20px;
    font-weight: normal;
}

.content .details .detail-container .detail h4 {
    margin: 0 20px 0 0;
    font-size: 20px;
    font-weight: normal;
    color: rgb(70, 70, 70);
}

.content .details .detail-container a {
    width: 100px;
    margin: 10px 0 0 0;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
}

.content .details .links {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 820px) {
    .content .details {
        margin-left: 110px;
    }

    .content .details a {
        margin-right: 110px;
    }

    .content .details .detail-container .detail {
        width: calc(100% - 110px);
    }
}

@media only screen and (min-width: 580px) {
    .banner .info .details {
        margin-top: 20px;
    }

    .content .details .detail-container {
        flex-direction: row;
    }

    .content .details .detail-container a {
        margin: 0 0 0 10px;
        text-align: left;
    }

    .content .account-actions button {
        margin-left: 5px;
        margin-right: 5px;
    }
}
