
.top-nav {
    background-color: transparent;
}

.top-nav .right {
    display: none;
}

.banner {
    color: rgb(60, 60, 60);
    background-color: rgb(242, 242, 244);
}

.banner .actions button {
    color: rgb(60, 60, 60);
    border-color: rgb(60, 60, 60);
}

body {
    background: linear-gradient(to bottom right, rgb(250, 250, 252), rgb(238, 248, 255));
}

.content {
    background: transparent;
}

.content .dashboard .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0 10px 0;
}

.content .dashboard .profile img {
    width: 120px;
}

.content .dashboard .profile h3 {
    margin-bottom: 0;
    font-size: 30px;
    font-weight: normal;
}

.content .dashboard .profile a {
    margin-top: 7px;
    font-size: 18px;
    text-decoration: none;
}

.content .dashboard .item .profile-actions {
    display: flex;
    align-self: flex-end;
    margin: 20px 8px;
}

.content .dashboard .item .profile-actions button {
    margin: 0 10px;
    padding: 7px 20px;
    font-size: 16px;
    color: rgb(60, 60, 60);
    border: 2px solid rgb(60, 60, 60);
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.content .dashboard .item .profile-actions button:focus,
.content .dashboard .item .profile-actions button:active {
    -webkit-tap-highlight-color: transparent;
}