.content {
    align-items: center;
}

.content .profile {
    width: 95vw;
    max-width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vmin 0 0 0;
    color: rgb(30, 30, 30);
}

.content .profile img {
    width: 10vw;
    max-width: 150px;
    min-width: 100px;
}

.content .profile h1 {
    margin: 2vh 0 0 0;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}

.content .profile h2 {
    margin: 1vh 0 0 0;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.content .profile .details {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 4vh 0 0 0;
    border-radius: 10px;
}

.content .profile .details .detail {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
    padding: 10px 30px;
    border-radius: 40px;
    background-color: rgb(240, 240, 240);
}

.content .profile .details .detail h3 {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    color: rgb(30, 30, 30);
}

.content .profile .details .detail h4 {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    color: rgb(70, 70, 70);
}

.content .profile .details a {
    color: rgb(31, 141, 231);
}

.content .profile .account-actions {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 4vh 0 0 0;
}

.content .profile .account-actions button {
    width: 100%;
    min-width: 250px;
    height: 50px;
    margin: 1vh 0 1vh 0;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}

.content .profile .account-actions #logoutButton {
    background-color: rgb(30, 30, 30);
}

.content .profile .account-actions #deleteAccountButton {
    background-color: rgb(235, 70, 70);
}

@media only screen and (min-width: 580px) {
    .content .profile .account-actions button {
        width: 47%;
        margin-left: 5px;
        margin-right: 5px;
    }
}
