{% load static %}
{% load view_page %}

{% if objectData.singleOccurence %}
    <div class="field">
        <img src="{% static 'images/datetime.png' %}">
        <div class="value">
            {% if objectData.singleOccurence.startDatetime.date == objectData.singleOccurence.endDatetime.date and objectData.singleOccurence.startDatetime %}
                <h3 style="margin-right: 5px">{{ objectData.singleOccurence.startDatetime.date|date:"F j, Y" }}</h3>
                <h3>{{ objectData.singleOccurence.startDatetime|time:"g:i A"|lower }} <b>to</b> {{ objectData.singleOccurence.endDatetime|time:"g:i A"|lower }}</h3>
            {% else %}
                {% if objectData.singleOccurence.startDatetime %}
                    <h3 style="margin-right: 5px">{{ objectData.singleOccurence.startDatetime|date:"F j, Y"}} {{objectData.singleOccurence.startDatetime|time:"g:i A"|lower }} <b>to</b></h3>
                {% endif %}
                {% if objectData.singleOccurence.endDatetime %}
                    <h3>{{ objectData.singleOccurence.endDatetime|date:"F j, Y"}} {{objectData.singleOccurence.endDatetime|time:"g:i A"|lower }}</h3>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% elif objectData.repeatingOccurence %}
    <div class="field">
        <img src="{% static 'images/datetime.png' %}">
        <div class="value">
            <h3 style="margin-right: 5px">{{ objectData.repeatingOccurence|formatDays }}</h3>
            <h3>{{ objectData.repeatingOccurence.startTime|time:"g:i A"|lower }} <b>to</b> {{ objectData.repeatingOccurence.endTime|time:"g:i A"|lower }}</h3>
        </div>
    </div>
{% endif %}
