<html>
    {% load static %}
    <head>
        <title>{{ organization.name }}</title>

    </head>
    {% if not pages %}
        <body onload="confirmationPopup.display(`{{ organization.name }} requires approval to view its Pages.
                                                 <br><br>Would you like to request approval?`,
                                                'Request',
                                                'organizationIdToRequestMembership',
                                                {{ organization.id }},
                                                'Back',
                                                {% url 'explore' %})">
            {% include 'core.html' %}

            <div class="content" style="filter: blur(10px)">
                <h1>Fake organization..</h1>
                <h2>This page is blurred, and should not be readable.<br>
                    Please use the popup!</h2>
                <div class="pages">
                    <a>
                        <div class="page">
                            <h1 name="name">This page is blurred.</h1>
                        </div>
                    </a>
                    <a>
                        <div class="page">
                            <h1 name="name">Should not be readable.</h1>
                        </div>
                    </a>
                    <a>
                        <div class="page">
                            <h1 name="name">Please use the popup!</h1>
                        </div>
                    </a>
                </div>
            </div>
        </body>
    {% else %}
        <body>
            {% include 'core.html' %}
            {% include 'dashboard.html' %}
            <link rel="stylesheet" type="text/css" href="{% static 'styles/view_organization.css' %}">

            <div class="banner">
                <div class="info">
                    <div class="img-container">
                        <img src="{% static 'images/logo.png' %}">
                    </div>
                    <div class="details">
                        <h1>{{ organization.name }}</h1>
                    </div>
                </div>
                <div class="actions">
                    {% if request.user.profile.organization == organization %}
                        <button onclick="location.href='{% url 'manage_organization' %}';">Manage</button>
                    {% endif %}
                </div>
            </div>
            <div class="content">
                <div class="dashboard">
                    <div class="item" style="max-width: 1000px; border-radius: 20px">
                        <div class="stats">
                            <div class="stat">
                                <h4>Description</h4>
                                <h5>{{ organization.description }}</h5>
                            </div>
                            <div class="stat">
                                <h4>Status</h4>
                                <h5>
                                    {% if request.user.profile.organization.isPrivate %}
                                        Private
                                    {% else %}
                                        Public
                                    {% endif %}
                                </h5>
                            </div>
                            <div class="stat">
                                <h4>Owned by</h4>
                                <h5>{{ request.user.profile.organization.owner.get_full_name }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pages-container">
                    <div class="header">
                        <h3>Pages</h3>
                        <h4>&nbsp- {{ pages|length }} total</h4>
                    </div>
                    <div class="pages">
                        <div class="spacer">
                            &nbsp;
                        </div>
                        {% for page in pages %}
                            <a href="{% url 'explore' %}?organization={{ organization.name }}&page={{ page.id }}">
                                <h3 name="name">{{ page.name }}</h3>
                                <h4>{{ page.typee }}, created <i>{{ page.dateCreated }}</i></h4>
                                <p>
                                    {% if page.explanation %}
                                        {{ page.explanation }}
                                    {% else %}
                                        No explanation available.
                                    {% endif %}
                                </p>
                            </a>
                        {% endfor %}
                        <div class="spacer">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </body>
    {% endif %}

    {% include 'base_popup.html' %}
    {% include 'confirmation_popup.html' %}
</html>
