<html>
    {% load static %}
    <head>
        <title>{{ pageData.name }} | {{ organizationName }}</title>
    </head>
    <body>
        {% include 'core.html' %}
        {% include 'dashboard.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/view_page.css' %}">

        <div class="mini-banner">
            <a href="{% url 'explore' %}?organization={{ organizationName }}">{{ organizationName }}</a>
            {% if request.user.profile.organization.id == pageData.organization %}
                <div class="actions">
                    <button onclick="location.href='{% url 'build' %}?typee={{ pageData.typee }}&idd={{ pageData.id }}'">Edit</button>
                </div>
            {% endif %}
        </div>

        <div class="content">
            {% if pageData.typee == 'Sheet' %}
                {% include 'pages/view_sheet.html' %}
            {% else %}
                {% include 'pages/view_event.html' %}
            {% endif %}
        </div>
    </body>
</html>
