<html>
    {% load static %}
    <head>
        <title>View {{ pageData.name }}</title>

        <link rel="stylesheet" type="text/css" href="{% static 'styles/view_page.css' %}">
    </head>
    <body>
        {% include 'core.html' %}

        <div class="content">
            {% if pageData.type == 'Sheet' %}
                {% include 'pages/view_sheet.html' %}
            {% else %}
                {% include 'pages/view_event.html' %}
            {% endif %}
        </div>
    </body>
</html>
