<html>
    {% load static %}
    <head>
        <title>{{ pageData.name }} | {{ organizationName }}</title>
    </head>
    <body>
        {% include 'core.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/view_page.css' %}">

        <div class="mini-banner">
            <a href="{% url 'explore' %}?organization={{ organizationName }}">{{ organizationName }}</a>
        </div>

        <div class="content">
            {% if pageData.typee == 'Sheet' %}
                {% include 'pages/view_sheet.html' %}
            {% else %}
                {% include 'pages/view_event.html' %}
            {% endif %}
        </div>
    </body>
</html>
