<html>
    {% load static %}
    <head>
        <title>{{ organization.name }}</title>

    </head>
    {% if not pages %}
        <body onload="confirmationPopup.display(`{{ organization.name }} requires approval to view its Pages.
                                                 <br><br>Would you like to request approval?`,
                                                'Request',
                                                'organizationIdToRequestMembership',
                                                {{ organization.id }},
                                                'Back',
                                                {% url 'explore' %})">
            {% include 'core.html' %}

            <div class="content" style="filter: blur(10px)">
                <h1>Fake organization..</h1>
                <h2>This page is blurred, and should not be readable.<br>
                    Please use the popup!</h2>
                <div class="pages">
                    <a>
                        <div class="page">
                            <h1 name="name">This page is blurred.</h1>
                        </div>
                    </a>
                    <a>
                        <div class="page">
                            <h1 name="name">Should not be readable.</h1>
                        </div>
                    </a>
                    <a>
                        <div class="page">
                            <h1 name="name">Please use the popup!</h1>
                        </div>
                    </a>
                </div>
            </div>
        </body>
    {% else %}
        <body>
            {% include 'core.html' %}
            <link rel="stylesheet" type="text/css" href="{% static 'styles/view_organization.css' %}">

            <div class="banner">
                <div class="img-container">
                    <img src="{% static 'images/logo.png' %}">
                </div>
                <div class="info">
                    <h1>{{ organization.name }}</h1>
                    <div class="details">
                        <h2>Owned by <b>{{ organization.owner.get_full_name }}</b></h2>
                    </div>
                </div>
            </div>
            <div class="content">
                <p>Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, though, the unity and coherence of ideas among sentences is what constitutes a paragraph..</p>
                <div class="pages-container">
                    <div class="header">
                        <h3>Pages</h3>
                        <h4>({{ pages|length }} total)</h4>
                    </div>
                    <div class="pages">
                        <div class="spacer">
                            &nbsp;
                        </div>
                        {% for page in pages %}
                            <a href="{% url 'explore' %}?organization={{ organization.name }}&page={{ page.id }}">
                                <h3 name="name">{{ page.name }}</h3>
                                <h4>Created <i>{{ page.dateCreated }}</i></h4>
                                <hr>
                                <p>
                                    {% if page.description %}
                                        {{ page.description }}
                                    {% else %}
                                        No description available.
                                    {% endif %}
                                </p>
                            </a>
                        {% endfor %}
                        <div class="spacer">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </body>
    {% endif %}

    {% include 'base_popup.html' %}
    {% include 'confirmation_popup.html' %}
</html>
