{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/pages/build_event.css' %}">

{{ pageData.event|json_script:"event" }}
<textarea placeholder="Description" rows="3" name="description">{{ pageData.event.description }}</textarea>
<div class="field-container" id="location-field-container">
    <img src="{% static 'images/location.png' %}" required>
    <input name="location" value="{{ pageData.event.location }}" placeholder="Location" autocomplete="off">
</div>
<div class="field-container" id="datetime-field-container">
    <img src="{% static 'images/datetime.png' %}">
    <input type="datetime-local" id="startDatetime" name="startDatetime" required>
    <h3>to</h3>
    <input type="datetime-local" id="endDatetime" name="endDatetime">
    <script>
        var event = JSON.parse(document.getElementById('event').textContent);
        if (event['startDatetime']) {
            document.getElementById('startDatetime').value = event['startDatetime'];
        }
        if (event['endDatetime']) {
            document.getElementById('endDatetime').value = event['endDatetime'];
        }
    </script>
</div>

<div class="toggle">
    <h4>Public attendance</h4>
    <label class="switch">
            <input type="checkbox" name="attendanceIsPublic" value="false"
                {% if pageData.event.attendanceIsPublic %}
                    checked
                {% endif %}
            >
        <span class="slider"></span>
    </label>
</div>
