{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/pages/build_checklist.css' %}">
<script src="{% static 'scripts/pages/fields.js' %}"></script>
<script src="{% static 'scripts/pages/checklist.js' %}"></script>

<div id="items" class="items"></div>
<button id="addItemButton" type="button" onclick="checklist.addItem()">+</button>

{% if pageData.id %}
    {{ pageData.items|json_script:"checklistItemsData" }}
    <script>
        checklist = new Checklist(document.getElementById('items'), 'checklistItemsData');
    </script>
{% else %}
    <script>
        checklist = new Checklist(document.getElementById('items'));
    </script>
{% endif %}
