{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/pages/build_sheet.css' %}">
<script src="{% static 'scripts/pages/fields.js' %}"></script>
<script src="{% static 'scripts/pages/sheet.js' %}"></script>

<div id="items" class="items"></div>
<button id="addItemButton" type="button" onclick="sheet.displayItem()">+</button>

<script>
    sheet = new Sheet(document.getElementById('items'));
</script>

{% if pageData.id %}
    {{ pageData.items|json_script:"pageItems" }}
    <script>
        sheet.loadItems('pageItems')
    </script>
{% endif %}
