{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/pages/build_sheet.css' %}">
<script src="{% static 'scripts/pages/fields.js' %}"></script>
<script src="{% static 'scripts/pages/sheet.js' %}"></script>

<div id="items" class="items"></div>
<button id="addItemButton" type="button" onclick="sheet.displayItem()">+</button>

{% if pageData.id %}
    {{ pageData.items|json_script:"sheetItemsData" }}
    <script>
        sheet = new Sheet(document.getElementById('items'), 'sheetItemsData');
    </script>
{% else %}
    <script>
        sheet = new Sheet(document.getElementById('items'));
    </script>
{% endif %}
