{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/pages/build_event.css' %}">
<script src="{% static 'scripts/pages/fields.js' %}"></script>
<script src="{% static 'scripts/pages/event.js' %}"></script>

<div id="event" class="event"></div>
{% if pageData.id %}
    {{ pageData.event|json_script:"eventData" }}
    <script>
        event = new Eventt(document.getElementById('event'), 'eventData');
    </script>
{% else %}
    <script>
        event = new Eventt(document.getElementById('event'));
    </script>
{% endif %}
