{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/pages/event.css' %}">

{{ pageData.event|json_script:"event" }}
<textarea placeholder="Description" rows="3" name="description">{{ pageData.event.description }}</textarea>
<div class="field-container" id="location-field-container">
    <img src="{% static 'images/location.png' %}" required>
    <input name="location" value="{{ pageData.event.location }}" placeholder="Location" autocomplete="off">
</div>
<div class="non-repeating">
    <div class="field-container" id="datetime-field-container">
        <img src="{% static 'images/datetime.png' %}">
        <input type="datetime-local" id="startDatetime" name="startDatetime" required>
        <h3>to</h3>
        <input type="datetime-local" id="endDatetime" name="endDatetime">

        <script>
            var event = JSON.parse(document.getElementById('event').textContent);
            document.getElementById('startDatetime').value = event['startDatetime'].slice(0, -3);
            if (document.getElementById('endDatetime').value) {
                document.getElementById('endDatetime').value = event['endDatetime'].slice(0, -3);
            }
        </script>
    </div>
</div>
