{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/pages/view_event.css' %}">

<div class="viewer-container">
    <div class="viewer">
        <div class="item">
            <div class="header">
                <h3>{{ pageData.name }}</h3>
            </div>
            {% with pageData.event as objectData %}
                {% include 'pages/fields/view_occurence.html' %}
                {% include 'pages/fields/view_location.html' %}
            {% endwith %}
            <p>{{ pageData.event.description }}</p>

            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="eventId" value="{{ pageData.event.id }}">
                <div class="actions">
                    <button class="action-button" name="status" value="true">Attending</button>
                    <button class="action-button" name="status" value="false" style="background-color: rgb(235, 70, 70)">Not attending</button>
                </div>
            </form>

            {% if pageData.event.attendanceIsPublic %}
                <div class="user-list-container">
                    {% if request.user.get_full_name in pageData.event.acceptees %}
                        <h3><b>Attending</b> - You are attending this event</h3>
                    {% else %}
                        <h3><b>Attending</b></h3>
                    {% endif %}
                    <div class="user-list">
                        {% for fullName in pageData.event.acceptees %}
                            <div class="item">
                                <img src="{% static 'images/earth.png' %}" alt="earth">
                                <h4>{{ fullName }}</h4>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="user-list-container">
                    {% if request.user.get_full_name in pageData.event.declinees %}
                        <h3><b>Not attending</b> - You are not attending this event</h3>
                    {% else %}
                        <h3><b>Not attending</b></h3>
                    {% endif %}
                    <div class="user-list">
                        {% for fullName in pageData.event.declinees %}
                            <div class="item">
                                <img src="{% static 'images/earth.png' %}" alt="earth">
                                <h4>{{ fullName }}</h4>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% if request.user.profile.organization.id == pageData.organization %}
    <div class="dashboard" style="flex-direction: column">
        <h3 id="title">Manage this Event</h3>
        <a href="{% url 'build' %}?typee={{ pageData.typee }}&idd={{ pageData.id }}">Edit</a>
        <div class="item" style="max-width: 450px">
            <h3>Attending</h3>
            {% if pageData.event.acceptees %}
                <div class="list">
                    {% for fullName in pageData.event.acceptees %}
                        {% if forloop.counter == pageData.event.acceptees|length %}
                        <div class="element" style="flex-direction: row; margin-bottom: 5px;">
                        {% else %}
                        <div class="element" style="flex-direction: row">
                        {% endif %}
                            <div class="info" style="cursor: auto">
                                <div class="iconname">
                                    <img src="{% static 'images/earth.png' %}" alt="earth">
                                    <h4>{{ fullName }}</h4>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter < organizationMembers|length %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="empty-list">
                    <h4>No attendees</h4>
                </div>
            {% endif %}
        </div>
        <div class="item" style="max-width: 450px">
            <h3>Not attending</h3>
            {% if pageData.event.declinees %}
                <div class="list">
                    {% for fullName in pageData.event.declinees %}
                        {% if forloop.counter == pageData.event.declinees|length %}
                        <div class="element" style="flex-direction: row; margin-bottom: 5px;">
                        {% else %}
                        <div class="element" style="flex-direction: row">
                        {% endif %}
                            <div class="info" style="cursor: auto">
                                <div class="iconname">
                                    <img src="{% static 'images/earth.png' %}" alt="earth">
                                    <h4>{{ fullName }}</h4>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter < organizationMembers|length %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="empty-list">
                    <h4>No attendees</h4>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
