{% load static %}
{% load view_page %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/pages/view_sheet.css' %}">

<div class="viewer-container">
    <h1>{{ pageData.name }}<h1>
    <div class="viewer">
        {% for sheetItem in pageData.sheetItems %}
            <div class="item">
                <div class="header">
                    <h3>{{ sheetItem.title }}</h3>
                    {% if sheetItem.price and not sheetItem.startDatetime and not sheetItem.location %}
                        <div class="price">
                            <img src="{% static 'images/price.png'%}">
                            <h3 style="font-size: 25px">{{ sheetItem.price|formatPrice }}</h3>
                        </div>
                    {% endif %}
                </div>
                {% with sheetItem as objectData %}
                    {% include 'pages/fields/view_occurence.html' %}
                    {% include 'pages/fields/view_location.html' %}
                {% endwith %}
                {% if sheetItem.price %}
                    {% if sheetItem.location or sheetItem.startDatetime %}
                        <div class="field">
                            <img style="margin-bottom: 2px" src="{% static 'images/price.png' %}">
                            <div class="value">
                                <h3>{{ sheetItem.price|formatPrice }}</h3>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                <p>{{ sheetItem.description }}</p>
            </div>
            {% if forloop.counter < pageData.sheetItems|length %}
                <hr>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% if request.user.profile.organization == pageData.organization %}
    <div class="dashboard" style="flex-direction: column">
        <h3 id="title">Manage this Sheet</h3>
        <a href="{% url 'build' %}?typee={{ pageData.type }}&idd={{ pageData.id }}">Edit</a>
        <div class="empty-list">
            <h4>Nothing to manage for a Sheet.</h4>
        </div>
    </div>
{% endif %}
