.top-nav {
    background-color: rgb(225, 225, 225);
    background-color: rgb(11, 68, 55);
}

.top-nav .left a {
    color: rgb(255, 255, 255);
}

.top-nav .center a {
    color: rgb(255, 255, 255);
}

.mini-banner {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    color: rgb(255, 255, 255);
    background-color: rgb(240, 240, 240);
    background-color: rgb(20, 77, 64);
}

.mini-banner a {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.content {
    justify-content: space-between;
}

.content .viewer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    overflow: auto;
}

.content .viewer-container .viewer {
    width: 90vw;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 15px;
}

.content .viewer-container .viewer .item {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 4vh 5vmin;
}

.content .viewer-container .viewer .item h3 {
    margin: 0;
    font-size: 32px;
    font-weight: normal;
}

.content .viewer-container .viewer .item .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
}

.content .viewer-container .viewer .item .field {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3px 0;
}

.content .viewer-container .viewer .item .field img {
    height: 23px;
}

.content .viewer-container .viewer .item .field .value {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: 15px;
}

.content .viewer-container .viewer .item .field .value h3 {
    text-align: left;
    font-size: 20px;
    margin: 3px 0;
}

.content .viewer-container .viewer .item .field .value h3 b {
    font-size: 18px;
    margin: 2px 0;
}

.content .viewer-container .viewer .item p {
    line-height: 30px;
    font-size: 22px;
    margin: 20px 0 0 0;
    text-align: left;
}

.content .viewer-container .viewer hr {
    margin: 1vh 5vmin .5vh 5vmin;
}

.content .dashboard {
    width: 100%;
    bottom: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid rgb(180, 180, 180);
    border-radius: 30px 30px 0 0;
    background-color: rgb(255, 255, 255);
}

.content .dashboard #title {
    margin: 2vh 0 1vh 0;
    font-size: 25px;
    font-weight: normal;
}

.content .dashboard a {
    font-size: 19px;
}

@media only screen and (min-width: 1500px) {
    .content .viewer-container {
        height: 100%;
        margin-top: 0;
        align-items: center;
    }

    .content .viewer-container .viewer {
        margin-top: 7vh;
    }

    .content .dashboard {
        max-width: 600px;
        min-width: 500px;
        position: unset;
        height: 100%;
        margin: 0;
        border-top: none;
        border-left: 1px solid rgb(180, 180, 180);
        border-radius: 30px 0 0 30px;
    }
}

@media only screen and (min-width: 580px) {
    .content .viewer-container .viewer .item p {
        line-height: 35px;
        font-size: 25px;
        margin-bottom: 0;
    }

    .content .viewer-container .viewer .item .field .value {
        flex-direction: row;
    }

    .content .viewer-container .viewer .item .field .value h4 {
        margin-left: 7px;
        margin-right: 7px;
    }
}
