.top-nav {
    background-color: rgb(225, 225, 225);
    background-color: rgb(11, 68, 55);
}

.top-nav .left a {
    color: rgb(255, 255, 255);
}

.top-nav .center a {
    color: rgb(255, 255, 255);
}

.content .dashboard {
    margin: 0;
}

.content p {
    width: 90%;
    max-width: 800px;
    margin: 5vh 0;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

.content .pages-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.content .pages-container .header {
    display: flex;
    align-items: baseline;
    margin: 0 0 0 1vmax;
}

.content .pages-container .header h3 {
    margin: 0;
    font-size: 35px;
    font-weight: normal;
}

.content .pages-container .header h4 {
    margin: 0 0 0 10px;
    font-size: 20px;
    font-weight: normal;
}

.content .pages-container .pages {
    width: 100%;
    display: flex;
    margin-top: 1vh;
    overflow: auto;
}

.content .pages-container .pages a {
    width: 300px;
    height: 350px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    margin: 2vh 1vmax;
    color: rgb(30, 30, 30);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

.content .pages-container .pages a h3 {
    margin: 30px 0 0 0;
    font-size: 30px;
    font-weight: normal;
}

.content .pages-container .pages a h4 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}

.content .pages-container .pages a hr {
    width: 40%;
    margin: 15px 0;
    color: rgb(230, 230, 230);
}

.content .pages-container .pages a p {
    margin: 0 30px 35px 30px;
    font-size: 20px;
}

.content .pages-container .pages .spacer {
    width: 1vmax;
    height: 100%;
}

@media only screen and (min-width: 800px) {
    .content {
        flex-direction: column;
    }

    .content .pages-container {
        width: 100%;
        min-width: 500px;
    }

    .content .pages-container .header {
        justify-content: center;
    }

    .content .pages-container .pages {
        justify-content: center;
        flex-wrap: wrap;
    }

    .content .pages-container .pages .spacer {
        display: none;
    }
}
