.content .items {
    width: 90vw;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0 0 5vh 0;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 15px;
}

.content .items .item {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 4vh 5vmin;
}

.content .items .item h3 {
    margin: 0;
    font-size: 32px;
    font-weight: normal;
}

.content .items .item .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
}

.content .items .item .field {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3px 0;
}

.content .items .item .field img {
    height: 23px;
}

.content .items .item .field .value {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: 15px;
}

.content .items .item .field .value h3 {
    font-size: 20px;
    margin: 3px 0;
}

.content .items .item .field .value h4 {
    font-size: 18px;
    margin: 2px 0;
}

.content .items .item p {
    line-height: 30px;
    font-size: 22px;
    margin: 20px 0 0 0;
    text-align: left;
}

.content .items hr {
    margin: 1vh 5vmin .5vh 5vmin;
}

@media only screen and (min-width: 580px) {
    .content .items .item p {
        line-height: 35px;
        font-size: 25px;
        margin-bottom: 0;
    }

    .content .items .item .field .value {
        flex-direction: row;
    }

    .content .items .item .field .value h4 {
        margin-left: 7px;
        margin-right: 7px;
    }
}
