<html>
    {% load static %}
    <head>
        <title>{{ pageData.type }} Builder</title>

        <link rel="stylesheet" type="text/css" href="{% static 'styles/build_page.css' %}">
    </head>
    {% if pageData.id %}
    {{ pageData.items|json_script:"pageItems" }}
    <body onload="sheet.loadItems('pageItems')">
    {% else %}
    <body>
    {% endif %}
        {% include 'core.html' %}

        <div class="content">
            {% if pageData.typee|first|upper in 'AEIOU' %}
                <h1>Build an {{ pageData.typee }}</h1>
            {% else %}
                <h1>Build a {{ pageData.typee }}</h1>
            {% endif %}
            <form id="pageForm" method="POST">
                {% csrf_token %}
                <input id="pageNameInput" name="pageName" placeholder="Page name (i.e Menu, Products)" autocomplete="off" value="{{ pageData.name }}" required>
                <input type="hidden" name="pageType" value="{{ pageData.typee }}">
                <div id="items" class="items">
                </div>
                <button id="addItemButton" type="button" onclick="sheet.displayItem()">+</button>
                <div class="actions">
                    <button class="action-button" id="savePageButton" type="button" onclick="sheet.submit()">Save Page</button>
                    {% if pageData.id %}
                        {{ pageDeleteConfirmationPopupData|json_script:"pageDeleteConfirmationPopupData" }}
                        <button class="action-button" id="deletePageButton" type="button" onclick="confirmationPopup.display('pageDeleteConfirmationPopupData')">Delete Page</button>
                    {% endif %}
                </div>

                <input type="hidden" name="pageId" value="{{ pageData.id }}"></input>
            </form>
            <form id="pageDeleteForm" method="POST">
                {% csrf_token %}
                <input type="hidden" name="pageIdToDelete" value="{{ pageData.id }}">
            </form>
        </div>
    </body>

    {% include 'base_popup.html' %}
    {% include 'confirmation_popup.html' %}
    <script src="{% static 'scripts/build_page.js' %}"></script>
</html>
