<html>
    {% load core_tags %}
    {% load static %}
    <head>
        <title>{{ "Builder"|buildPageTitle }}</title>
    </head>
    <body>
        {% include 'core.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/build_page.css' %}">

        <div class="mini-banner">
            <a href="{% url 'explore' %}?organization={{ request.user.profile.organization.name  }}">{{ request.user.profile.organization.name  }}</a>
            <div class="actions">
                <button onclick="document.getElementById('pageForm').submit();">Save</button>
                {% if pageData.id %}
                    <button onclick="confirmationPopup.display(`Permanently delete <b>{{ pageData.name }}</b>
                                                                from {{ request.user.profile.organization.name }}?`,
                                                            'Delete',
                                                            'pageIdToDelete',
                                                            {{ pageData.id }})">Delete</button>
                {% else %}
                    <button onclick="location.href='{% url 'build' %}'">Cancel</button>
                {% endif %}
            </div>
        </div>

        <div class="content">
            <div class="heading">
                {% if pageData.typee|first|upper in 'AEIOU' %}
                    <h1>Build an {{ pageData.typee }}</h1>
                {% else %}
                    <h1>Build a {{ pageData.typee }}</h1>
                {% endif %}
            </div>

            <form id="pageForm" method="POST">
                {% csrf_token %}
                <input type="hidden" name="pageId" value="{{ pageData.id }}">
                <input type="hidden" name="pageType" value="{{ pageData.typee }}">

                <input id="pageNameInput" name="pageName" placeholder="{{ pageData.typee }} name" autocomplete="off" value="{{ pageData.name }}" required>
                <div class="explanation-container">
                    {% if pageData.explanation != defaultExplanation %}
                        <textarea id="pageExplanationTextArea" name="pageExplanation" placeholder="{{ defaultExplanation }}" rows="3">{{ pageData.explanation }}</textarea>
                    {% else %}
                        <textarea id="pageExplanationTextArea" name="pageExplanation" placeholder="{{ defaultExplanation }}" rows="3"></textarea>
                    {% endif %}
                    <h5>Page explanation. <a>What's this?</a></h5>
                </div>
                {% if pageData.typee == 'Sheet' %}
                    {% include 'pages/build_sheet.html' %}
                {% elif pageData.typee == 'Event' %}
                    {% include 'pages/build_event.html' %}
                {% elif pageData.typee == 'Checklist' %}
                    {% include 'pages/build_checklist.html' %}
                {% endif %}
            </form>
            <form id="deletePageForm" method="POST">
                {% csrf_token %}
                <input type="hidden" name="pageIdToDelete" value="{{ pageData.id }}">
            </form>
        </div>
    </body>

    {% include 'base_popup.html' %}
    {% include 'confirmation_popup.html' %}
</html>
