<html>
    {% load static %}
    <head>
        <title>Build {{ pageData.typee }} </title>
    </head>
    <body>
        {% include 'core.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/build_page.css' %}">

        <div class="mini-banner">
            <a href="{% url 'explore' %}?organization={{ request.user.profile.organization.name  }}">{{ request.user.profile.organization.name  }}</a>
            <div class="actions">
                <button onclick="document.getElementById('pageForm').submit();">Save</button>
                <button onclick="confirmationPopup.display(`Permanently delete <b>{{ pageData.name }}</b>
                                                            from {{ request.user.profile.organization.name }}?`,
                                                           'Delete',
                                                           'pageIdToDelete',
                                                           {{ pageData.id }})">Delete</button>
            </div>
        </div>

        <div class="content">
            {% if pageData.typee|first|upper in 'AEIOU' %}
                <h1>Build an {{ pageData.typee }}</h1>
            {% else %}
                <h1>Build a {{ pageData.typee }}</h1>
            {% endif %}
            <form id="pageForm" method="POST">
                {% csrf_token %}
                <input type="hidden" name="pageId" value="{{ pageData.id }}">
                <input type="hidden" name="pageType" value="{{ pageData.typee }}">

                <input id="pageNameInput" name="pageName" placeholder="{{ pageData.typee }} name" autocomplete="off" value="{{ pageData.name }}" required>
                <textarea id="pageExplanationTextArea" name="pageExplanation" placeholder="Explanation (optional)" rows="3">{{ pageData.explanation }}</textarea>
                {% if pageData.typee == 'Sheet' %}
                    {% include 'pages/build_sheet.html' %}
                {% elif pageData.typee == 'Event' %}
                    {% include 'pages/build_event.html' %}
                {% endif %}
            </form>
            <form id="deletePageForm" method="POST">
                {% csrf_token %}
                <input type="hidden" name="pageIdToDelete" value="{{ pageData.id }}">
            </form>
        </div>
    </body>

    {% include 'base_popup.html' %}
    {% include 'confirmation_popup.html' %}
</html>
