<html>
    {% load static %}
    <head>
        <title>{{ pageData.type }} Builder</title>

        <link rel="stylesheet" type="text/css" href="{% static 'styles/builder_page.css' %}">
    </head>
    <body>
        {% include 'core.html' %}

        <div class="content">
            <h1>Build a {{ pageData.type }}</h1>
            <form id="pageForm" method="POST">
                {% csrf_token %}
                <input id="pageNameInput" name="pageName" placeholder="Page name (i.e Menu, Products)" autocomplete="off" value="{{ pageData.name }}" required>
                <input class="hidden" name="pageType" value="{{ pageData.type }}">
                <div id="items" class="items">
                    {% if pageData.id %}
                        {% for pageItem in pageData.items %}
                            <div class="item">
                                {% if forloop.counter0 %}
                                    <hr>
                                {% endif %}
                                <input class="hidden" name="id" value="{{ pageItem.id }}">
                                <input id="sheetItemTitle" type="text" autocomplete="off" name="title" value="{{ pageItem.title }}">
                                <textarea rows=3 name="description" value="">{{ pageItem.description }}</textarea>
                                <input id="sheetItemPrice" type="number" step="0.01" name="price" value="{{ pageItem.price }}">
                                <button type="button" onclick="removeAndRecordPageItemForDeletion({{ pageItem.id }}, this)">Delete item</button>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <button id="addItemButton" type="button" onclick="displayEmptySheetItem()">+</button>
                <div class="buttons">
                    <button id="savePageButton" type="submit">Save Page</button>
                    {% if pageData.id %}
                        {{ pageDeleteConfirmationPopupData|json_script:"pageDeleteConfirmationPopupData" }}
                        <button id="deletePageButton" type="button" onclick="confirmationPopup.display('pageDeleteConfirmationPopupData')">Delete Page</button>
                    {% endif %}
                </div>

                <input class="hidden" name="pageId" value="{{ pageData.id }}"></input>
                <input class="hidden" id="pageItemIdsToDelete" name="pageItemIdsToDelete" value=""></input>
            </form>
            <form id="pageDeleteForm" method="POST">
                {% csrf_token %}
                <input class="hidden" name="pageIdToDelete" value="{{ pageData.id }}">
            </form>
        </div>
    </body>

    {% include 'base_popup.html' %}
    {% include 'confirmation_popup.html' %}
    <script src="{% static 'scripts/builder_page.js' %}"></script>
</html>
