<html>
    {% load static %}
    <head>
        <title>Builder</title>

        <link rel="stylesheet" type="text/css" href="{% static 'styles/builder.css' %}">
    </head>
    <body>
        {% include 'core.html' %}

        <div class="content">
            <div class="pages-bar">
                {% for pageName in pageNames %}
                    <a href="{% url 'page' %}?name={{ pageName }}">
                        <div class="page-item">
                            <img src="{% static 'images/page.png' %}" alt="page">
                            <h1>{{ pageName }}</h1>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
