<html>
    {% load static %}
    <head>
        <title>Builder</title>

        <link rel="stylesheet" type="text/css" href="{% static 'styles/builder.css' %}">
    </head>
    <body>
        {% include 'core.html' %}

        <div class="content">
            <div class="pages-bar">
                {% for page in pages %}
                    <a href="{% url 'home' %}">
                        <div class="page-item">
                            <img src="{% static 'images/profile.png' %}" alt="profile">
                            <h1>{{ page.name }}</h1>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
