<html>
    {% load static %}
    <head>
        <title>Builder</title>

        <link rel="stylesheet" type="text/css" href="{% static 'styles/builder.css' %}">
    </head>
    <body>
        {% include 'core.html' %}

        <div class="content">
            <div class="organization-bar">
                <h1><b>Organization</b>: {{ request.user.creatoruser.organization.name }}</h1>
            </div>
            <div class="pages">
                {% for pageName in pageNames %}
                    <a href="{% url 'page' %}?name={{ pageName }}">
                        <div class="page">
                            <h1>{{ pageName }}</h1>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
