<html>
    {% load static %}
    <head>
        <title>Edit organization</title>
    </head>
    <body>
        {% include 'core.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/edit_organization.css' %}">

        <div class="banner">
            <div class="info">
                <div class="img-container">
                    <img src="{% static 'images/logo.png' %}">
                </div>
                <div class="details">
                    <h1>{{ request.user.profile.organization.name }} <j>(editor)</j></h1>
                </div>
            </div>
            <div class="actions">
                <button onclick="document.getElementById('editOrganizationForm').submit()">Save</button>
            </div>
        </div>

        <div class="content">
            <form id="editOrganizationForm" method="POST">
                {% csrf_token %}
                <input name="name" placeholder="Organization name" autocomplete="off" value="{{ request.user.profile.organization.name }}">
                <textarea name="description" placeholder="Description" rows="5">{{ request.user.profile.organization.description }}</textarea>
                <div class="toggle">
                    <h4>Private</h4>
                    <label class="switch">
                        <input type="checkbox" name="isPrivate"
                            {% if request.user.profile.organization.isPrivate %}
                                checked
                            {% endif %}
                        >
                        <span class="slider"></span>
                    </label>
                </div>
            <form>
        </div>
    </body>
</html>
