<html>
    {% load static %}
    {% load pages %}
    <head>
        <title>Organization</title>

        <link rel="stylesheet" type="text/css" href="{% static 'styles/manage_organization.css' %}">
    </head>
    <body>
        {% include 'core.html' %}

        <div class="content">
            <h1>Manage {{ request.user.creatoruser.organization.name|pluralize }} Pages</h1>
            <h2>Create, edit, or delete this organization's pages.</h2>
            <a href="{% url 'builder' %}">Create a new Page</a>
            <div class="pages">
                {% for pageData in pagesData %}
                    <a href="{% url 'builder' %}?typee=Sheet&idd={{ pageData.id }}">
                        <div class="page" type="submit">
                            <h1 name="name">{{ pageData.name }}</h1>
                            <hr>
                            <div class="page-details">
                                <h3><b>Type:</b> {{ pageData.type }}</h3>
                                <h3><b>Date created:</b> {{ pageData.dateCreated }}</h3>
                                <h3><b>Number of items:</b> {{ pageData.numItems }}</h3>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
