<html>
    {% load static %}
    <head>
        <title>Manage organization</title>

        <link rel="stylesheet" type="text/css" href="{% static 'styles/manage_organization.css' %}">
    </head>
    <body>
        {% include 'core.html' %}

        <div class="content">
            <h1>Manage {{ request.user.profile.organization.name }}</h1>

            <div class="stats-container">
                <div class="stats-bar">
                    <div class="item">
                        <h3>
                            <b>Status:</b>
                            {% if request.user.profile.organization.private %}
                                Private
                            {% else %}
                                Public
                            {% endif %}
                        </h3>
                    </div>
                    <div class="item">
                        <h3><b>Owner:</b>{{ request.user.profile.organization.owner.get_full_name }}</h3>
                    </div>
                    <div class="item">
                        <h3><b>Members:</b>{{ numOrganizationsMemberships }}</h3>
                    </div>
                </div>
                <a href="{% url 'edit_organization' %}">Edit organization</a>
            </div>
            <div class="dashboard" style="max-width: 850px">
                <div class="item" style="margin-top: 3vh">
                    <h3>Active pages</h3>
                    {% if activePagesData %}
                        <div class="list">
                            {% for activePageData in activePagesData %}
                                {% if forloop.counter == activePagesData|length %}
                                <div class="element" style="margin-bottom: 5px">
                                {% else %}
                                <div class="element">
                                {% endif %}
                                    <div class="info" style="cursor: auto">
                                        <h4>{{ activePageData.name }}</h4>
                                        <div class="details">
                                            <h5><b>Type:</b> {{ activePageData.type }}</h5>
                                            <h5><b>Created:</b> {{ activePageData.dateCreated }}</h5>
                                            <h5><b>Items:</b> {{ activePageData.numItems }}</h5>
                                        </div>
                                    </div>
                                    <div class="actions">
                                        <a href="{% url 'explore' %}?organization={{ request.user.profile.organization.name }}&page={{ activePageData.id }}">
                                            View
                                        </a>
                                        <a href="{% url 'builder' %}?typee=Sheet&idd={{ activePageData.id }}">
                                            Edit
                                        </a>
                                    </div>
                                </div>
                                {% if forloop.counter < activePagesData|length %}
                                    <hr>
                                {% endif %}
                            {% endfor%}
                        </div>
                        {% if activePagesData|length > settings.MAX_DASHBOARD_LIST_ENTRIES %}
                            <div class="footer">
                                <h4>{{ activePagesData|length }} total</h4>
                                <a href="{% url 'home' %}">View all ></a>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="empty-list">
                            <h4>No Pages</h4>
                        </div>
                    {% endif %}
                </div>
                <div class="item" style="max-width: 400px">
                    <h3>Member requests</h3>
                    {% if memberRequests %}
                        <div class="list">
                            {{ approveMembershipConfirmationPopupData|json_script:"approveMembershipConfirmationPopupData" }}
                            {{ denyMembershipConfirmationPopupData|json_script:"denyMembershipConfirmationPopupData" }}
                            {% for memberRequest in memberRequests %}
                                {% if forloop.counter == memberRequests|length %}
                                <div class="element" style="margin-bottom: 5px">
                                {% else %}
                                <div class="element">
                                {% endif %}
                                    <div class="info" style="cursor: auto">
                                        <div class="iconname">
                                            <img src="{% static 'images/earth.png' %}" alt="earth">
                                            <h4>{{ memberRequest.user.get_full_name }}</h4>
                                        </div>
                                    </div>
                                    <div class="actions">
                                        <a onclick="confirmationPopup.display('approveMembershipConfirmationPopupData',
                                                                            null,
                                                                            {{ memberRequest.id }},
                                                                            'Approve <b>{{ memberRequest.user.get_full_name }}</b> as a member of <b>{{ request.user.profile.organization.name }}</b>?')">Approve</a>
                                        <a onclick="confirmationPopup.display('denyMembershipConfirmationPopupData',
                                                                            null,
                                                                            {{ memberRequest.id }},
                                                                            'Deny <b>{{ memberRequest.user.get_full_name }}</b> as a member of <b>{{ request.user.profile.organization.name }}</b>?')">Deny</a>
                                    </div>
                                </div>
                                {% if forloop.counter < memberRequests|length %}
                                    <hr>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if memberRequests|length > settings.MAX_DASHBOARD_LIST_ENTRIES %}
                            <div class="footer">
                                <h4>{{ memberRequests|length }} total</h4>
                                <a href="{% url 'home' %}">View all ></a>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="empty-list">
                            <h4>No requests</h4>
                        </div>
                    {% endif %}
                </div>
                <div class="item" style="max-width: 350px">
                    <h3>Members</h3>
                    {% if organizationMembers %}
                        <div class="list">
                            {{ revokeMembershipConfirmationPopupData|json_script:"revokeMembershipConfirmationPopupData" }}
                            {% for organizationMember in organizationMembers %}
                                {% if forloop.counter == organizationMembers|length %}
                                <div class="element" style="flex-direction: row; margin-bottom: 5px;">
                                {% else %}
                                <div class="element" style="flex-direction: row">
                                {% endif %}
                                    <div class="info" style="cursor: auto">
                                        <div class="iconname">
                                            <img src="{% static 'images/earth.png' %}" alt="earth">
                                            <h4>{{ organizationMember.user.get_full_name }}</h4>
                                        </div>
                                    </div>
                                    <div class="actions" style="margin-top: 0">
                                        <a onclick="confirmationPopup.display('revokeMembershipConfirmationPopupData',
                                                                              null,
                                                                              {{ organizationMember.id }},
                                                                              'Revoke <b>{{ organizationMember.user.get_full_name }}</b> as a member of <b>{{ request.user.profile.organization.name }}</b>?')" style="margin: 0">
                                            Revoke
                                        </a>
                                    </div>
                                </div>
                                {% if forloop.counter < organizationMembers|length %}
                                    <hr>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if organizationMembers|length > settings.MAX_DASHBOARD_LIST_ENTRIES %}
                            <div class="footer">
                                <h4>{{ organizationMembers|length }} total</h4>
                                <a href="{% url 'home' %}">View all ></a>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="empty-list">
                            <h4>No members</h4>
                        </div>
                    {% endif %}
                </div>
            </div>
            {{ leaveOrganizationConfirmationPopupData|json_script:"leaveOrganizationConfirmationPopupData" }}
            <button class="action-button" onclick="confirmationPopup.display('leaveOrganizationConfirmationPopupData')">Leave organization</button>
        </div>
    </body>

    {% include 'base_popup.html' %}
    {% include 'confirmation_popup.html' %}
</html>
