<html>
    {% load static %}
    <head>
        <title>{{ request.user.creatoruser.organization.name }}</title>

        <link rel="stylesheet" type="text/css" href="{% static 'styles/organization.css' %}">
    </head>
    <body>
        {% include 'core.html' %}

        <div class="content">
            <h1>{{ request.user.creatoruser.organization.name }}</h1>
            <h2>View and manage this organization.</h2>

            <div class="info">
                <div class="active-pages-container">
                    <h3>Active pages</h3>
                    <div class="active-pages">
                        {% for activePageData in activePagesData %}
                            <div class="active-page">
                                <h4>{{ activePageData.name }}</h4>
                                <div class="details">
                                    <h5><b>Type:</b> {{ activePageData.type }}</h5>
                                    <h5><b>Created:</b> {{ activePageData.dateCreated }}</h5>
                                    <h5><b>Items:</b> {{ activePageData.numItems }}</h5>
                                </div>
                                <div class="actions">
                                    <a href="{% url 'explore' %}?organization={{ request.user.creatoruser.organization.name }}&page={{ activePageData.id }}">
                                        View
                                    </a>
                                    <a href="{% url 'builder' %}?typee=Sheet&idd={{ activePageData.id }}">
                                        Edit
                                    </a>
                                </div>
                            </div>
                            {% if forloop.counter < activePagesData|length %}
                                <hr>
                            {% endif %}
                        {% endfor%}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
