<html>
    {% load static %}
    <head>
        <title>{{ page.name }}</title>

        <link rel="stylesheet" type="text/css" href="{% static 'styles/page.css' %}">
    </head>
    <body>
        {% include 'core.html' %}

        <div class="content">
            {% if sheetData %}
                <h1>Edit this {{ page.name }}</h1>
            {% else %}
                <h1>Build a {{ page.name }}</h1>
            {% endif %}
            <form id="sheetForm" method="POST">
                {% csrf_token %}
                <input id="sheetNameInput" name="sheetName" placeholder="Sheet name (i.e Menu, Products)" autocomplete="off" value="{{ sheetData.name }}">
                <div id="items" class="items">
                    {% for sheetItem in sheetData.items %}
                        <div class="item">
                            {% if forloop.counter0 %}
                                <hr>
                            {% endif %}
                            <input class="hidden" name="id" value="{{ sheetItem.id }}">
                            <input id="sheetItemTitle" type="text" autocomplete="off" name="title" value="{{ sheetItem.title }}">
                            <textarea rows=3 name="description" value="">{{ sheetItem.description }}</textarea>
                            <input id="sheetItemPrice" type="number" step="0.01" name="price" value="{{ sheetItem.price }}">
                            <button type="button" onclick="removeAndRecordSheetItemForDeletion({{ sheetItem.id }}, this)">Delete item</button>
                        </div>
                    {% endfor %}
                </div>
                <button id="addItemButton" type="button" onclick="displayEmptySheetItem()">+</button>
                <div class="buttons">
                    <button id="saveSheetButton" type="submit">
                        {% if sheetData %}
                            Save changes
                        {% else %}
                            Create Sheet
                        {% endif %}
                    </button>
                    {% if sheetData %}
                        {{ sheetDeletePopupData|json_script:"sheetDeletePopupData" }}
                        <button id="deleteSheetButton" type="button" onclick="displayConfirmationPopup('sheetDeletePopupData')">Delete this Sheet</button>
                    {% endif %}
                </div>

                <input class="hidden" name="sheetId" value="{{ sheetData.id }}"></input>
                <input class="hidden" id="sheetItemIdsToDelete" name="sheetItemIdsToDelete" value=""></input>
            </form>
            <form id="sheetDeleteForm" method="POST">
                {% csrf_token %}
                <input class="hidden" name="sheetIdToDelete" value="{{ sheetData.id }}">
            </form>
        </div>
    </body>

    {% include 'confirmation_popup.html' %}
    <script src="{% static 'scripts/page.js' %}"></script>
</html>
