<html>
    {% load static %}
    <head>
        <title>{{ pageType }}</title>

        <link rel="stylesheet" type="text/css" href="{% static 'styles/page.css' %}">
    </head>
    <body>
        {% include 'core.html' %}

        <div class="content">
            {% if pageData %}
                <h1>Edit this {{ pageType }}</h1>
            {% else %}
                <h1>Build a {{ pageType }}</h1>
            {% endif %}
            <form id="pageForm" method="POST">
                {% csrf_token %}
                <input id="pageNameInput" name="pageName" placeholder="Page name (i.e Menu, Products)" autocomplete="off" value="{{ pageData.name }}">
                <div id="items" class="items">
                    {% for pageItem in pageData.items %}
                        <div class="item">
                            {% if forloop.counter0 %}
                                <hr>
                            {% endif %}
                            <input class="hidden" name="id" value="{{ pageItem.id }}">
                            <input id="sheetItemTitle" type="text" autocomplete="off" name="title" value="{{ pageItem.title }}">
                            <textarea rows=3 name="description" value="">{{ pageItem.description }}</textarea>
                            <input id="sheetItemPrice" type="number" step="0.01" name="price" value="{{ pageItem.price }}">
                            <button type="button" onclick="removeAndRecordPageItemForDeletion({{ pageItem.id }}, this)">Delete item</button>
                        </div>
                    {% endfor %}
                </div>
                <button id="addItemButton" type="button" onclick="displayEmptySheetItem()">+</button>
                <div class="buttons">
                    <button id="savePageButton" type="submit">
                        {% if pageData %}
                            Save changes
                        {% else %}
                            Create Page
                        {% endif %}
                    </button>
                    {% if pageData %}
                        {{ pageDeletePopupData|json_script:"pageDeletePopupData" }}
                        <button id="deletePageButton" type="button" onclick="displayConfirmationPopup('pageDeletePopupData')">Delete this Page</button>
                    {% endif %}
                </div>

                <input class="hidden" name="pageId" value="{{ pageData.id }}"></input>
                <input class="hidden" id="pageItemIdsToDelete" name="pageItemIdsToDelete" value=""></input>
            </form>
            <form id="pageDeleteForm" method="POST">
                {% csrf_token %}
                <input class="hidden" name="pageIdToDelete" value="{{ pageData.id }}">
            </form>
        </div>
    </body>

    {% include 'confirmation_popup.html' %}
    <script src="{% static 'scripts/page.js' %}"></script>
</html>
