<html>
    {% load static %}
    <head>
        <title>Request</title>

        <link rel="stylesheet" type="text/css" href="{% static 'styles/request_new_organization.css' %}">
    </head>
    <body>
        {% include 'core.html' %}

        <div class="content">
            <h1>It starts here</h1>
            <h2>For our user's safety and confidence, we vet and monitor all organizations.<br>
                Request a new organization and reach your audiences like never before.</h2>
            <form method="POST">
                {% csrf_token %}
                {{ requestNewOrganizationForm }}
                <button class="action-button">Send request</button>
            </form>
        </div>
    </body>
</html>
