<html>
    {% load static %}
    <head>
        <title>Select organization</title>

        <link rel="stylesheet" type="text/css" href="{% static 'styles/select_organization.css' %}">
    </head>
    <body>
        {% include 'core.html' %}

        <div class="content">
            <h1>Select an organization</h1>
            <h2>Looks like you're not part of an organization.<br>
                Select an organization below, or apply to create your own.</h2>
            <form action="" method="POST">
                {% csrf_token %}
                {{ selectOrganizationForm }}
                <button type="submit">Select</button>
            </form>
            <h3>- or -</h3>
            <a href="{% url 'home' %}">Apply for an organization</a>
        </div>
    </body>
</html>
