<html>
    {% load static %}
    <head>
        <title>Build</title>

        <link rel="stylesheet" type="text/css" href="{% static 'styles/select_page_type.css' %}">
    </head>
    <body>
        {% include 'core.html' %}

        <div class="content">
            <h1>Select a Page type</h1>
            <div class="page-listings">
                {% for pageListing in pageListings %}
                    <a class="page-listing" href="{% url 'build' %}?typee={{ pageListing.name }}">
                        <h1>{{ pageListing.name }}</h1>
                        <hr>
                        <p>{{ pageListing.description }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
