<html>
    {% load core_tags %}
    {% load static %}
    <head>
        <title>{{ "Select page"|buildPageTitle }}</title>
    </head>
    <body>
        {% include 'core.html' %}
        {% include 'dashboard.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/select_page_type.css' %}">

        <div class="content">
            <div class="heading">
                <h1>So, what are we building?</h1>
                <h2>Select a Page type that best suites your organization's needs.</h2>
                <h2>Don't worry, you can always come back to create as many as you want.</h2>
            </div>
            <div class="dashboard">
                {% for pageInfo in pageInfos %}
                    <a class="item" href="{% url 'build' %}?type={{ pageInfo.type }}">
                        <div class="background" style="background-color: {{ pageInfo.color.serialize }}">
                        </div>
                        <div class="info">
                            <h1>{{ pageInfo.type }}</h1>
                            <p>{{ pageInfo.description }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
