<html>
    {% load static %}
    <head>
        <title>Build</title>
    </head>
    <body>
        {% include 'core.html' %}
        {% include 'dashboard.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/select_page_type.css' %}">

        <div class="content">
            <div class="header">
                <h1>So what are we building?</h1>
                <h2>Select a Page type that best suites your organization's needs.</h2>
                <h2>Don't worry, you can always come back to create as many as you want.</h2>
            </div>
            <div class="dashboard">
                {% for pageListing in pageListings %}
                    <a class="item" href="{% url 'build' %}?typee={{ pageListing.name }}">
                        <div class="background"
                            {% if pageListing.name == 'Event' %}
                                style="background-color: rgb(176, 219, 242)"
                            {% endif %}
                        >
                        </div>
                        <div class="info">
                            <h1>{{ pageListing.name }}</h1>
                            <p>{{ pageListing.description }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
